[mysqld]
innodb_log_file_size=4GB
innodb_flush_neighbors=0
innodb_log_buffer_size=67108864
innodb_buffer_pool_size=96GB
innodb_buffer_pool_instances=16
innodb_io_capacity=100

log_error_verbosity=3

# binlog appliers
slave_parallel_type=LOGICAL_CLOCK
slave_preserve_commit_order=1
binlog_transaction_dependency_tracking=WRITESET_SESSION
slave_parallel_workers=32
sync_relay_log=0
relay_log_recovery=1

plugin-load-add='mysql_clone.so'
plugin-load-add='group_replication.so'

gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON
binlog_format=ROW

# Group replication
loose_group_replication_start_on_boot=OFF
loose_group_replication_bootstrap_group=OFF
# use auto-rejoin instead of expel timeout so that we can remove the group member
# loose_group_replication_member_expel_timeout=0
loose_group_replication_autorejoin_tries=3
loose_group_replication_exit_state_action=OFFLINE_MODE
loose_group_replication_communication_debug_options='GCS_DEBUG_BASIC,XCOM_DEBUG_BASIC'
loose_group-replication-recovery-retry-count=3
loose-group_replication_ssl_mode = REQUIRED
loose-group_replication_recovery_use_ssl = 1
loose-group_replication_ip_whitelist = "0.0.0.0/0"

# Set multi-primary mode
loose-group_replication_single_primary_mode = ON