.entering {
    @apply transition;
    @apply ease-out;
    @apply duration-100;
    @apply z-10;
    animation-name: entering;
    animation-fill-mode:forwards;
    animation-duration: 100ms;
    display: block;

}

.leaving {
    @apply z-0;
    @apply transition;
    @apply ease-in;
    @apply duration-75;
    animation-name: leaving;
    animation-fill-mode:forwards;
    animation-duration: 75ms;
    display: none;
}

@keyframes entering {
    from {
        transform: scale(.95);
        opacity: 0;
    }

    to {
       transform: scale(1);
       opacity: 1;
    }
}

@keyframes leaving {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(.95);
        opacity: 0;
    }
}

.topLeft {
    bottom: calc(100% + 1em);
    right: 0;
}

.topRight {
    bottom: calc(100% + 1em);
    left: 0;
}