<!DOCTYPE HTML>
<html>
<head>
  <style>
    body {font-family: monospace;}
    td {border: 1px solid black; vertical-align:text-top;}
  </style>
  <title>{{.Path}}</title>
</head>
<body>
  <h1>{{.Path}}</h1>
  <table>
    <tr><td>Keyspace</td><td>{{.Keyspace}}</td></tr>
    <tr><td>Shard</td><td>{{.Shard}}</td></tr>
    <tr><td>Type</td><td>{{.Type}}</td></tr>
    <tr><td>State</td><td>{{.State}}</td></tr>
    <tr><td>Addr</td><td>{{.Addr}}</td></tr>
    <tr><td>MysqlAddr</td><td>{{.MysqlAddr}}</td></tr>
    <tr><td>MysqlIpAddr</td><td>{{.MysqlIpAddr}}</td></tr>
    <tr><td>Type</td><td>{{.Type}}</td></tr>
    {{if .DbNameOverride}}<tr><td>DbNameOverride</td><td>{{.DbNameOverride}}</td></tr>{{end}}
  </table>
</body>
</html>
