parameters:
  shards: ['0', '1', '2', '3', '4']
  flavors: [ 'mysql57']

jobs:
- job: tests
  strategy:
    matrix:
      ${{ each flavor in parameters.flavors }}:
        ${{ each shard in parameters.shards }}:
         ${{ format('{0}{1}', flavor, shard) }}:
           flavor: ${{ flavor }}
           shard: ${{ shard }}
  variables:
    flags: "-docker -use_docker_cache -timeout=8m -print-log"
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - script: go run test.go -shard $(shard) -flavor $(flavor) $(flags)
