# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.py[cod]

# For mac users
.DS_Store

# Produced by yacc
*.output

# vim files
*.swp
tags

# cbson & other C build dirs
**/build

# mysql build dirs
third_party/mysql

# java target files
java/vtocc-client/target
java/vtocc-jdbc-driver/target
third_party/acolyte

# RCS directory
tjy/book/RCS/
tjy/book/old/
tjy/book/#twwtools-overview.tex#
tjy/book/#xymon-mrtg.tex#