<div class="content">

<h1>{{title}}</h1>

<vt-breadcrumbs [route]="['/topo']" [crumbs]="breadcrumbs"></vt-breadcrumbs>

<md-card class="frame">
  <md-nav-list *ngIf="node.Children" class="frame">
    <a *ngFor="let child of node.Children" md-list-item
      [routerLink]="['/topo']" [queryParams]="childLink(child)">
      <md-icon>folder</md-icon> {{child}}</a>
  </md-nav-list>
</md-card>

<md-card *ngIf="node.Data">
  <md-card-title>Node Data</md-card-title>
  <md-card-content><pre>{{node.Data}}</pre></md-card-content>
</md-card>

<md-card *ngIf="node.Error">
  <md-card-title>Error</md-card-title>
  <md-card-content><pre>{{node.Error}}</pre></md-card-content>
</md-card>

</div>
