[ req ]
 default_bits           = 1024
 default_keyfile        = keyfile.pem
 distinguished_name     = req_distinguished_name
 x509_extensions        = v3_ca
 attributes             = req_attributes
 prompt                 = no
 output_password        = mypass
[ req_distinguished_name ]
 C                      = US
 ST                     = California
 L                      = Mountain View
 O                      = Google
 OU                     = Vitess
 CN                     = localhost
 emailAddress           = test@email.address
[ req_attributes ]
 challengePassword      = A challenge password
[ v3_ca ]
 basicConstraints       = CA:TRUE
