<md-toolbar color="primary">
  <span>{{title}}</span>
  <a href="/app" title="Old UI"><md-icon style="position:fixed; right:25px; top:25px; color: #ffffff">trending_down</md-icon></a>
</md-toolbar>

<md-sidenav-layout class="flex-column flex-grow">
  <md-sidenav #sidenav mode="side" opened="true">
    <md-nav-list>
      <a md-list-item [routerLink]="['/dashboard']"><md-icon>dashboard</md-icon>Dashboard</a>
      <a *ngIf="featuresService.showStatus" md-list-item [routerLink]="['/status']" [queryParams]="{ keyspace: 'all', cell: 'all', type: 'all', metric: 'health'}"><md-icon>timeline</md-icon>Status</a>
      <a md-list-item [routerLink]="['/schema']"><md-icon>storage</md-icon>Schema</a>
      <a md-list-item [routerLink]="['/topo']"><md-icon>folder</md-icon>Topology</a>
      <a *ngIf="featuresService.showWorkflows" md-list-item [routerLink]="['/workflows']"><md-icon>list</md-icon>Workflows</a>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>
