/*
 * CSS used on vitess.io that deviates from default CSS for Bootstrap and Less.
 * More generally, these styles could be used in any site.
 */

@import url("https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css");

body {
  padding-top: 50px;
}

p {
  margin: 0 0 1em;
}

table {
  background:none repeat scroll 0 0 #fff;
  border:1px solid #D0D0D0;
  border-bottom:1px solid #D0D0D0;
  border-collapse:collapse;
  border-spacing:0;
  text-align:left;
  width:100%;
  margin-bottom: 2.125em;
}

table thead {
  background-color: #4E5A92;
}

table tr th {
  color: #555;
  font-weight: 500;
  text-align: left;
}

table.comparison th {
  color: #515B5D;
  font-weight: bold;
}

table.comparison td {
  background: #fff;
  vertical-align: top;
  width: 47%;
  border-bottom: solid 1px #e0e0e0;
  padding: 16px;
}

table.comparison th, table.comparison td {
  padding: 1em;
}

table tbody td {
  vertical-align: top;
}

table tr td, table tr th {
  padding:0.625em;
}
table tfoot, table thead {
  background:none repeat scroll 0 0 #f6f6f6;
}
table tbody {
  background:none repeat scroll 0 0 #fff;
}
table tr:nth-of-type(2n) {
  background:none repeat scroll 0 0 #f6f6f6;
}
#api-method-summary tr td.api-method-summary-group {
  background:#f6f6f6;
}
#api-method-summary tr {
  background:#fff;
}
th, td {
  border-right:1px solid #e0e0e0;
}

h2, h3, h4, h5 {
  margin-bottom: 0.8em;
}
pre {
  margin: 0 0 1.2em;
}

code {
  background-color: transparent;
  padding: 0;
}
br.bigbreak {
  line-height: 2em;
}
div.indent-details {
  padding-left: 1.6250em;
}
#toc {
  border-left: solid 3px #4E5A92;
  padding-left: 12px;
}
#toc ol, #toc ul {
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
#toc ol ol, #toc ol ul, #toc ul ol, #toc ul ul {
  padding-left: 25px;
  list-style: circle;
}
#toc li {
  margin-bottom: 0;
}
#toc-contents-header {
  font-size: 13px;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0.8em 0em;
}
ol ol li, ol ul li, ul ol li, ul ul li {
  margin: 0;
}
li {
  margin-bottom: 0.5em;
}
/*
 * Left nav
 */
#left-nav {
  overflow-x: hidden;
  overflow-y: auto;
}

#masthead {
  background-color: #E8F4FF;
  margin-bottom: 40px;
  min-height: 105px;
}

#masthead h1 {
  color: #4E5A92;
  font-size: 36px;
  padding: 18px;
}
.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 36px;
  }
}

.navbar-brand {
  padding: 7px 15px;
}

.nav > li {
  margin-bottom: 0;
}
.nav li.active-item {
  font-weight: bold;
  text-decoration: none;
}
#sidebar > li > h4 {
  font-size: 16px;
  margin-top: 0.8em;
}
.nav > li > h4.no-top-margin {
  margin-top: 0;
}
#sidebar > li > a {
  padding: 6px 15px 6px 0px;
}
#sidebar li a {
  font-size: 13px;
}
#sidebar li ul li, #sidebar li ol li {
  padding-bottom: 5px;
}
.nav li.active-item ul, .nav li.active-item ol {
  font-weight: normal;
  padding-top: 0.8em;
}
.nav-stacked > li+li {
  margin-top: 0;
}
.nav ol, .nav ul {
  list-style: none;
  padding-left: 1.5em;
}
#rightCol li.active > a {
  color: #730073;
  font-weight: bold;
}
#centerTextCol h2, #centerTextCol h3, #centerTextCol h4,
                   #centerTextCol h5, #centerTextCol h6 {
  padding-top: 50px;
  margin-top: -50px;
}

.affix-top,.affix{
  position: static;
}
#sidebar.affix-top,#sidebar.affix{
  max-width: 170px;
}

@media (min-width: 1200px) {
  #tocSidebar.affix, #tocSidebar.affix-top {
    min-width: 170px;
  }
  #rightCol #tocSidebar.affix, #rightCol #tocSidebar.affix-top {
    max-width: 210px;
  }
  #toc > ul > li > a {
    display: inline-block;
    padding-left: 10px;
    text-indent: -10px;
  }

  #sidebar.affix, #tocSidebar.affix {
    position: fixed;
    top: 70px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media (min-width: 992px) {
  #sidebar.affix, #sidebar.affix-top {
    width: 228px;
  }

  #tocSidebar.affix, #tocSidebar.affix-top {
  }

  #sidebar.affix-top, #tocSidebar.affix-top {
    position: static;
  }
  
  #sidebar.affix, #tocSidebar.affix {
    position: fixed;
    top: 70px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media (min-width: 768px) {
  #sidebar.affix {
    position: fixed;
    top: 70px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/*
 * Left nav highlighting title of selected document
 */

.main-site-content {
  max-width: 1512px;
  padding: 0 80px;
}

/*
 * Responsive tables
 */
table.responsive tr:not(.alt) td td:first-child,
table.responsive td tr:not(.alt) td:first-child {
  vertical-align: top;
}
table.responsive table.responsive {
  margin: 0;
}

table.responsive tr:first-child {
  border-top: 0;
}

table.responsive td tr:first-child td {
  padding-top: 0;
}

table.responsive td tr:last-child td {
  padding-bottom: 0;
}

table.responsive td td:first-child {
  padding-left: 0;
}
table.responsive th:not(:first-child) {
  display: none;
}

/*** main layout ***/

#home-page-logo {
  margin: 40px;
  text-align: center;
  width: 402px;
  height: 228px;
}
.page-title-bar {
  margin: 50px 0px 0px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.app-bar {
  background: #4E5A92 url(/images/bg-990x320.jpg) no-repeat top center;
  background-size: cover;
  box-shadow: none;
  z-index: 1;
}
.home .app-bar {
  background: none;
}
.app-bar,
.navdrawer {
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
}
.app-bar-container {
  background: none;
  height: 60px;
  justify-content: space-between;  /* change the flex layout */
}
.navdrawer-container {
  background: #3f4254;
}
.navdrawer-container h4 {
  height: 60px;
  color: #3f4254;
}
.navdrawer-container a,
.app-bar .logo {
  font-family: 'Roboto', 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
}
.navdrawer-container a {
  text-transform: uppercase;
}
.app-bar .logo {
  font-size: 23px;
  line-height: 60px;
  color: #FFFFFF;
  flex: inherit;  /* reset the flex box to center */
}
.app-bar .logo a {
  padding-left: 55px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#menu {
  background-image: url(/images/hamburger-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

#leftCol {
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}
#rightCol {
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 0px;
  position: static;
  z-index: 10000;
}

.scrolled {
  margin-bottom: 80px;
  z-index: 20000;
}

.scrolled .app-bar {
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.scrolled .app-bar .logo {
  color: #000000;
}
.scrolled .app-bar button:hover {
  background-color: rgba(78,90,146, 0.1);
}
.scrolled .app-bar button:focus {
  background-color: rgba(78,90,146, 0.2);
}
.scrolled .app-bar button:active {
  background-color: rgba(78,90,146, 0.4);
}
.scrolled .app-bar {
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
main .fa {
  color: #4E5A92;
}
.jumbotron {
  background: #264270;
  color: #E8F4FF;
  text-align: center;
  width: 100%;
}
.home-full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
#mobile-left-nav-menu-button {
  display: none;
  background-color: transparent;
  background-image: url('/images/left-nav-menu-expander.svg');
  border: 0;
  height: 24px;
  margin-left: 10px;
  min-width: 24px;
}
#collapsed-left-menu {
  display: none;
}
#collapsed-left-menu h4 {
  color: #E8F4FF;
}

@media screen and (max-width: 1199px) {
  #rightCol {
    margin: 0;
  }
  #centerCol {
    z-index: 1;
  }
  #toc-content-row {
    position: relative;
    z-index: 1;
  }
}
@media screen and (max-width: 991px) {
  #rightCol {
    float: none;
    margin: 12px 0 30px calc(25% + 15px);
    max-width: 255px;
  }
  #centerCol {
    margin-left: calc(25% + 15px);
    z-index: 1;
  }
  #leftCol {
    max-width: 200px;
  }

  /*
   * Force responsive tables to lay out completely vertically. The "responsive"
   * class should only be applied to tables that are composed like a definition
   * list, with a "term" (say, a property name) in the first column and any
   * "definitions" (say, type, description, and a sample value) stacked on top
   * of each other in the second column. This makes it possible to lay out the
   * table vertically and keep it readable on smaller screens without horizontal
   * scrolling. This structure and behavior is documented.
   */
  table.responsive,
  table.responsive thead,
  table.responsive tbody,
  table.responsive tr,
  table.responsive th,
  table.responsive td {
    display: block;
  }

  .main-site-content {
    padding: 0 24px;
  }
}
@media screen and (max-width: 767px) {
  #mobile-left-nav-menu-button {
    display: block;
  }
  #rightCol {
    margin: 12px 0 30px;
  }
  #leftCol {
    display: none;
  }
  #centerCol {
    margin-left: 0;
  }
  .main-site-content {
    padding: 0 16px;
  }
  #collapsed-left-menu {
    display: block;
  }
  #standard-menu-links {
    display: none;
  }
}
