<footer role="contentinfo" id="site-footer">
  <nav role="navigation" class="menu bottom-menu">
    {% assign separator = '&nbsp;&nbsp;<b>·</b>&nbsp;&nbsp;' %}
    <a href="https://groups.google.com/forum/#!forum/vitess" target="_blank">Contact: vitess@googlegroups.com</a>{{ separator }}
    <a href="https://groups.google.com/forum/#!forum/vitess-announce" target="_blank">Announcements</a>{{ separator }}
    &#169; {{ site.time | date: '%Y' }} <a href="/">Vitess</a> powered by <a href="https://developers.google.com/open-source/">Google Inc</a>
  </nav>
</footer>
