        <li class="submenu">
          <h4 class="arrow-r no-top-margin">Overview</h4>
          <ul style="display: none">
            <li><a href="{% link overview/index.md %}">What is Vitess</a></li>
            <li><a href="{% link overview/scaling-mysql.md %}">Scaling MySQL with Vitess</a></li>
            <li><a href="{% link overview/concepts.md %}">Key Concepts</a></li>
          </ul>
        </li>
        <li class="submenu">
          <h4 class="arrow-r">Getting Started</h4>
          <ul style="display: none">
            <li style="padding-bottom: 0"><a href="{% link getting-started/index.md %}">Run Vitess on Kubernetes</a>
              <ul style="display: block">
                <li style="padding-bottom: 0"><a href="{% link getting-started/docker-build.md %}">Custom Docker Build</a></li>
              </ul>
            </li>
            <li><a href="{% link getting-started/local-instance.md %}">Run Vitess Locally</a></li>
          </ul>
        </li>
        <li class="submenu">
          <h4 class="arrow-r">User Guide</h4>
          <ul style="display: none">
            <li><a href="{% link user-guide/introduction.md %}">Introduction</a>
            <li><a href="{% link user-guide/vttablet-modes.md %}">VTTablet Modes</a>
            <li><a href="{% link user-guide/vtexplain.md %}">VTExplain</a>
            <li><a href="{% link user-guide/backup-and-restore.md %}">Backing Up Data</a>
            <li><a href="{% link user-guide/reparenting.md %}">Reparenting</a></li>
            <li style="padding-bottom: 0"><a href="{% link user-guide/schema-management.md %}">Schema Management</a></li>
              <ul style="display: block">
                <li style="padding-bottom: 0"><a href="{% link user-guide/vschema.md %}">VSchema Guide</a></li>
                <li style="padding-bottom: 0"><a href="{% link user-guide/schema-swap.md %}">Schema Swap (Tutorial)</a></li>
              </ul>
            <li style="padding-bottom: 0"><a href="{% link user-guide/sharding.md %}">Sharding</a>
              <ul style="display: block">
                <li><a href="{% link user-guide/horizontal-sharding-workflow.md %}">Horizontal Sharding (Tutorial, automated)</a></li>
                <li><a href="{% link user-guide/horizontal-sharding.md %}">Horizontal Sharding (Tutorial, manual)</a></li>
                <li><a href="{% link user-guide/sharding-kubernetes-workflow.md %}">Sharding in Kubernetes (Tutorial, automated)</a></li>
                <li style="padding-bottom: 0"><a href="{% link user-guide/sharding-kubernetes.md %}">Sharding in Kubernetes (Tutorial, manual)</a></li>
              </ul>
            </li>
            <li><a href="{% link user-guide/topology-service.md %}">Topology Service</a></li>
            <li><a href="{% link user-guide/transport-security-model.md %}">Transport Security Model</a></li>
            <h5 class="arrow-r">Launching</h4>
              <ul style="display: block">
                <li><a href="{% link user-guide/scalability-philosophy.md %}">Scalability Philosophy</a></li>
                <li><a href="{% link user-guide/production-planning.md %}">Production Planning</a></li>
                <li><a href="{% link user-guide/server-configuration.md %}">Server Configuration</a></li>
                <li><a href="{% link user-guide/twopc.md %}">2PC Guide</a></li>
                <li style="padding-bottom: 0"><a href="{% link user-guide/troubleshooting.md %}">Troubleshooting</a></li>
              </ul>
            </li>
            <li><a href="{% link user-guide/upgrading.md %}">Upgrading</a></li>
          </ul>
        </li>
        <li class="submenu">
          <h4 class="arrow-r">Advanced Features</h4>
          <ul style="display: none">
            <li><a href="{% link advanced/index.md %}">Overview</a>
            <li><a href="{% link advanced/messaging.md %}">Messaging</a>
          </ul>
        </li>
        <li class="submenu">
          <h4 class="arrow-r">Reference Guides</h4>
          <ul style="display: none">
            <li><a href="{% link reference/vitess-api.md %}">Vitess API</a>
            <li><a href="{% link reference/vtctl.md %}">vtctl Commands</a>
          </ul>
        </li>
        <li class="submenu">
          <h4 class="arrow-r">Other Resources</h4>
          <ul style="display: none">
            <li><a href="{% link resources/presentations.md %}">Presentations</a>
            <li><a href="http://blog.vitess.io/">Blog</a>
            <li><a href="{% link resources/roadmap.md %}">Roadmap</a>
            <li><a href="{% link resources/design-docs.md %}">Design Docs</a>
              <ul style="display: block">
                <li style="padding-bottom: 0"><a href="{% link user-guide/vitess-sequences.md %}">Vitess Sequences</a></li>
                <li style="padding-bottom: 0"><a href="{% link user-guide/mysql-server-protocol.md %}">MySQL Server Protocol</a></li>
                <li style="padding-bottom: 0"><a href="{% link user-guide/vitess-replication.md %}">Vitess and Replication</a></li>
                <li style="padding-bottom: 0"><a href="{% link user-guide/update-stream.md %}">Update Stream</a></li>
                <li style="padding-bottom: 0"><a href="{% link user-guide/row-based-replication.md %}">Row Based Replication</a></li>
              </ul>
          </ul>
        </li>
        <li class="submenu">
          <h4 class="arrow-r">Contributing</h4>
          <ul style="display: none">
            <li><a href="{% link contributing/index.md %}">Contributing to Vitess</a>
            <li><a href="{% link contributing/github-workflow.md %}">GitHub Workflow</a>
            <li><a href="{% link contributing/code-reviews.md %}">Code Reviews</a>
          </ul>
        </li>
        <li class="submenu">
          <h4 class="arrow-r">Internal</h4>
          <ul style="display: none">
            <li><a href="{% link internal/index.md %}">Overview</a>
            <li><a href="{% link internal/release-instructions.md %}">Release Instructions</a>
            <li><a href="{% link internal/publish-website.md %}">Publish Website</a>
          </ul>
        </li>

        <div>
          <form method="get" action="{% link search/index.md %}">
            <input id="search-form" name="q" type="text" placeholder="Search">
          </form>
        </div>
