<nav role="navigation" class="js-menu sliding-menu-content">
	<ul class="menu-item">
		{% for link in site.data.navigation %}<li>
      {% unless link.url contains 'http' %}
        {% assign domain = site.url %}
      {% endunless %}
			{% if link.image %}<a href="{{ domain }}{{ link.url }}"><img src="{{ site.url }}/images/{{ link.image }}" alt="teaser" class="teaser"></a>{% endif %}
			<a href="{{ domain }}{{ link.url }}" class="title">{{ link.title }}</a>
			{% if link.excerpt %}<p class="excerpt">{{ link.excerpt }}</p>{% endif %}
		</li>{% endfor %}
	</ul>
</nav>
<button type="button" class="js-menu-trigger sliding-menu-button menulines-button x2" role="button" aria-label="Toggle Navigation">
	<span class="menulines"></span>
</button>

<div class="js-menu-screen menu-screen"></div>