<style type="text/css">
  #agents .popover.instance {
    display: inline-block;
    position: inherit;
    width: 276px;
  }

  #agents .popover.instance {
    margin: 8px;
  }

  #agents .popover.instance p {
    margin: 8px 0px;
  }
</style>

<div class="container" id="agents">
</div>


<script>
</script>
<script src="{{.prefix}}/js/agents.js"></script>
