
>>> .ui-datatable{
  padding-bottom: 20px;
}

>>> .vt-schema-popup-container th:nth-child(1) {
    width: 44px;
    text-align: center;
}

>>> .vt-schema-popup-container td:nth-child(1) {
    width: 44px;
    text-align: center;
}

>>> .vt-schema-popup-container th:nth-child(3) {
    width: 52px;
    text-align: center;
}

>>> .vt-schema-popup-container td:nth-child(3) {
    width: 52px;
    text-align: center;
}

>>> vt-schema .ui-dropdown {
  width: 30% !important;
}