.vt-padding {
  padding-left: 25px;
}
.vt-options {
  padding-bottom: 20px;
}

>>> .ui-datatable{
  padding-bottom: 20px;
}

>>> .vt-schema-popup-container p-dataTable th:nth-child(1) {
    white-space: nowrap;
    width: 44px;
    text-align: center;
}

>>> .vt-schema-popup-container p-dataTable td:nth-child(1) {
    width: 44px;
    text-align: center;
}

>>> .vt-schema-popup-container p-dataTable th:nth-child(3) {
    white-space: nowrap;
    width: 52px;
    text-align: center;
}

>>> .vt-schema-popup-container p-dataTable td:nth-child(3) {
    width: 52px;
    text-align: center;
}

>>> vt-schema .ui-dropdown {
  width: auto !important;
  min-width: 50px;
}