<h1>Schema Manager</h1>

<p-dropdown [options]="keyspaces" [(ngModel)]="selectedKeyspace" (onChange)="getShards(selectedKeyspace)"></p-dropdown>
<p-dropdown [options]="shards" [(ngModel)]="selectedShard" (onChange)="getTablets(selectedKeyspace, selectedShard)"></p-dropdown>
<p-dropdown [options]="tablets" [(ngModel)]="selectedTablet" (onChange)="fetchSchema(selectedKeyspace, selectedShard, selectedTablet"></p-dropdown>

<h2> Command: </h2>
{{selectedKeyspace}}/{{selectedShard}}/{{selectedTabletType}}