.vt-row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.vt-card {
  display: inline-table;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.stats-container {
  width: 100%;
}

.vt-padding{
  padding-left: 25px;
  padding-right: 25px;
}

>>> p-dialog .ui-dialog{
  position: fixed !important;
  top: 50%  !important;
  left: 50%  !important;
  transform: translate(-50%, -50%);
  margin: 0;
  width: auto !important;
}

.vt-popUpContainer{
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 0;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  min-height: 1000vh;
  min-width: 1000vw;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.vt-dark-link:link {
    text-decoration: none;
    color: black;
}

.vt-dark-link:visited {
    text-decoration: none;
    color: black;
}

.vt-dark-link:hover {
    text-decoration: none;
    color: black;
}

.vt-dark-link:active {
    text-decoration: none;
    color: black;
}

/* Toolbar */
.vt-toolbar {
  width: 100%;
  text-align: center;
}

>>> p-accordiontab a {
  padding-left: 25px! important;
}

>>> .ui-accordion-content button {
  margin-top: 2px;
}

>>> p-menu .ui-menu {
  margin-top: 19px;
  display: inline-block;
  top: auto !important;
  left: auto !important;
  float: right;
  
}

p-menu {
  display: inline-block;
  float: left;
}

.vt-toolbar .vt-menu {
  padding-top: 19px;
  float: left;
}

.vt-toolbar .vt-right-menu {
  padding-top: 19px;
  position: fixed;
  right: 25px;
  top: 19px;
}

.vt-card-toolbar {
  display: inline-block;
  width: 100%;
}

.vt-card-toolbar .vt-menu {
  float: left;
}
.vt-card-toolbar .vt-title {
  float: right;
  margin: 0;
  padding-left: 25px;
}

md-list:hover {
  background: #E8E8E8
}
