.vt-row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.vt-card {
  display: inline-table;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.stats-container {
  width: 100%;
}
.vt-actions-container{
  padding-left: 32px;
  padding-right: 32px;
}
.vt-padding{
  padding-left: 43px;
  padding-right: 43px;
}
>>> p-dialog .ui-dialog{
  position: fixed !important;
  top: 50%  !important;
  left: 50%  !important;
  transform: translate(-50%, -50%);
  margin: 0;
}
.vt-popUpContainer{
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 0;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  min-height: 1000vh;
  min-width: 1000vw;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.vt-dark-link:link {
    text-decoration: none;
    color: black;
}

.vt-dark-link:visited {
    text-decoration: none;
    color: black;
}

.vt-dark-link:hover {
    text-decoration: none;
    color: black;
}

.vt-dark-link:active {
    text-decoration: none;
    color: black;
}