<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
{% include meta.liquid %}
{% include styles.liquid %}
{% include analytics.liquid %}
</head>
<body class="home">

<header id="app-bar" class="app-bar promote-layer">
  <div class="app-bar-container">
    <button id="menu" class="menu" title="Menu"></button>
    <h1 class="logo"><a href="{{ site.baseurl }}/">Vitess</a></h1>
    <section class="app-bar-actions">
      <a href="#"><i class="icon icon-chevron-up"></i> Top</a>
    </section>
  </div>
</header>

<div class="navdrawer">
  <nav id="nav" class="navdrawer-container promote-layer">
    <h4>Navigation</h4>
    {% include nav.html %}
  </nav>
</div>

{{ content }}

<footer>
  <div class="container">
    <p class="small">&copy; 2015 Google. Licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</p>
  </div>
</footer>

{% include scripts.liquid %}
</body>
</html>

