---
layout: base
---

<div class="container home-full-width">
  <div class="jumbotron">
    <div class="container">
      <img id="home-page-logo" src="/images/{{ site.logo }}"></img>
      <p class="subtitle">{{ site.description }}</p>
      <p>
        <a class="btn btn-default btn-lg" href="/getting-started/" role="button">
        <img src="/images/kubernetes.svg" style="width:30px;height:30px;margin-top:-5px"> Quickstart</a>
        <a class="btn btn-default btn-lg" href="/getting-started/local-instance.html" role="button">Manual Build</a>
        <a class="btn btn-default btn-lg" href="/overview/" role="button">Learn More</a>
      </p>
    </div>
  </div>
</div>

<main id="home" class="clear clear-home">
  <div class="container">

    {{ content}}

  </div>
</main>
