---
layout: doc
bodyclass: post
---

<article class="post">
  <div class="postdate">
    <p><b>{{ page.date | date: "%A, %B %d %Y" }}</b> 
  {% if page.attribution %}
<br><em>by {{ page.attribution }}</em>
  {% endif %}
    </p>
  </div>
  <div class="content">
    {{ content }}
  </div>

  {% if page.attribution %}
  <div class="content-attribution">
     {{ page.attribution }}
  </div>
  {% endif %}
</article>

<div class="page-spacer"></div>
