<div class="container-fluid">
  <div class="row">
    <div data-ng-include="'editor/sidebar.html'"></div>
    <div class="col-md-9">
      <h4 data-ng-show="keyspaceName">Keyspace: {{keyspaceName}} Vindex:
        {{vindexName}}</h4>
    </div>
    <div class="col-md-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Vindex</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Params</th>
          </tr>
        </thead>
        <tr>
        <tr>
          <td>{{vindexName}}</td>
          <td>
            <div class="dropdown">
              <button class="btn dropdown-toggle col-md-12" type="button"
                data-toggle="dropdown">
                {{vindex.Type}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li data-ng-repeat="vindexType in vindexTypes"
                  data-ng-click="setVindexType(vindex, vindexType)"><a
                  href="#/editor/{{keyspaceName}}/vindex/{{vindexName}}">{{vindexType}}</a></li>
              </ul>
            </div>
          </td>
          <td>{{vindex.Owner}}</td>
          <td><table class="table-condensed table-bordered">
              <tr data-ng-repeat="(paramName, paramValue) in vindex.Params">
                <td>{{paramName}}</td>
                <td>{{paramValue}}</td>
              </tr>
            </table></td>
        </tr>
      </table>
    </div>
  </div>
</div>
]
