<h1> TABLET </h1>
<md-content>

  <md-card class="tabletCard">

    <md-toolbar color="primary">
       <div class="card-section">
          <strong class="card-leftAlign"> cell - UID </strong>
          <strong class="card-rightAlign"> Serving </strong>
       </div>
    </md-toolbar>

    <md-card-content>
       <table class="tableSet">
         <tr style="outline-bottom: thin solid">
           <td class="firstColumn">
             <strong> Seconds Behind Master </strong>
           </td>
           <td class="column">
             <strong> 2 </strong>
           </td>
         </tr>
         
         <tr>
           <td class="firstColumn">
             <strong> Cpu Usage </strong>
           </td>
           <td class="column">
             <strong> 12 </strong>
           </td>
         </tr>

         <tr>
           <td class="firstColumn">
             <strong> Qps </strong>
           </td>
           <td class="column">
             <strong> 45 </strong>
           </td>
         </tr>

         <tr>
           <td class="lastRow">
             <strong> link </strong>
           </td>
         </tr>
       </table>

    </md-card-content>
  </md-card>



 <md-card class="tabletCard">

    <md-toolbar color="primary">
       <div class="card-section">
          <strong class="card-leftAlign"> cell - UID </strong>
          <strong class="card-rightAlign"> Non-Serving </strong>
       </div>
    </md-toolbar>

    <md-card-content>
       <table class="tableSet">
         <tr style="outline-bottom: thin solid" rowspan=3>
           <td class="firstColumn">
             <strong> Seconds Behind Master </strong>
           </td>
           <td class="column">
             <strong> 2 </strong>
           </td>
         </tr>
         
         <tr>
           <td class="firstColumn">
             <strong> Cpu Usage </strong>
           </td>
           <td class="column">
             <strong> 12 </strong>
           </td>
         </tr>

         <tr>
           <td class="firstColumn">
             <strong> Qps </strong>
           </td>
           <td class="column">
             <strong> 45 </strong>
           </td>
         </tr>

         <tr>
           <td class="lastRow" colspan="2">
             <strong> link </strong>
           </td>
         </tr>
       </table>

    </md-card-content>
  </md-card>



