# Global configuration that is auto-included for all MySQL/MariaDB versions

datadir = {{.DataDir}}
innodb_data_home_dir = {{.InnodbDataHomeDir}}
innodb_log_group_home_dir = {{.InnodbLogGroupHomeDir}}
log-error = {{.ErrorLogPath}}
pid-file = {{.PidFile}}
port = {{.MysqlPort}}

# all db instances should start in read-only mode - once the db is started and
# fully functional, we'll push it into read-write mode
read-only
server-id = {{.ServerID}}

# all db instances should skip the slave startup - that way we can do any
# additional configuration (like enabling semi-sync) before we connect to
# the master.
skip_slave_start
slave_load_tmpdir = {{.SlaveLoadTmpDir}}
socket = {{.SocketFile}}
tmpdir = {{.TmpDir}}

slow-query-log-file = {{.SlowLogPath}}

# These are sensible defaults that apply to all MySQL/MariaDB versions

long_query_time = 2
slow-query-log
skip-name-resolve
connect_timeout = 30
innodb_lock_wait_timeout = 20
max_allowed_packet = 64M