# Options for enabling GTID
# https://dev.mysql.com/doc/refman/5.6/en/replication-gtids-howto.html
gtid_mode = ON
log_bin
log_slave_updates
enforce_gtid_consistency

# Ignore relay logs on disk at startup.
relay_log_recovery

# Native AIO tends to run into aio-max-nr limit during test startup.
innodb_use_native_aio = 0
