# This file is auto-included when MySQL 5.6 is detected.

# MySQL 5.6 does not enable the binary log by default, and 
# the default for sync_binlog is unsafe. The format is TABLE, and
# info repositories also default to file.

log_bin
sync_binlog = 1
gtid_mode = ON
binlog_format = ROW
log_slave_updates
enforce_gtid_consistency
expire_logs_days = 3
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_purge = 1
relay_log_recovery = 1
slave_net_timeout = 60

# In MySQL 5.6 the default charset is latin1

character_set_server = utf8
collation_server = utf8_general_ci

# MySQL 5.6 is unstrict by default
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
