# This file is intended to be included by the testsuite
# It sets some parameters which are non-ACID and not
# intended for production usage.

sql_mode = STRICT_TRANS_TABLES
binlog_format = statement
character_set_server = utf8
collation_server = utf8_general_ci
connect_timeout = 30
datadir = {{.DataDir}}
expire_logs_days = 3
innodb_buffer_pool_size = 64M
innodb_data_home_dir = {{.InnodbDataHomeDir}}
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 20
innodb_log_buffer_size = 1M
innodb_log_file_size = 4M
innodb_log_group_home_dir = {{.InnodbLogGroupHomeDir}}
key_buffer_size = 2M
log-error = {{.ErrorLogPath}}
long_query_time = 2
pid-file = {{.PidFile}}
port = {{.MysqlPort}}
# all db instances should start in read-only mode - once the db is started and
# fully functional, we'll push it into read-write mode
read-only
server-id = {{.ServerID}}
skip-name-resolve
# we now need networking for replication. this is a tombstone to simpler times.
#skip_networking
# all db instances should skip the slave startup - that way we can do any
# out-of-bounds checking before we restart everything - in case we need to do
# some extra work to skip mangled transactions or fudge the slave start
skip_slave_start
slave_net_timeout = 60
slave_load_tmpdir = {{.SlaveLoadTmpDir}}
slow-query-log
slow-query-log-file = {{.SlowLogPath}}
socket = {{.SocketFile}}
tmpdir = {{.TmpDir}}
