<div class="container-fluid">
  <div class="row">
    <div data-ng-include="'/content/editor/sidebar.html'"></div>
    <div data-ng-show="className">
      <div class="col-md-9">
        <h4 data-ng-show="keyspaceName">Class:
          {{keyspaceName}}.{{className}}</h4>
      </div>
      <div class="col-md-3">
        <table class="table">
          <tr data-ng-repeat="colVindex in klass.ColVindexes">
            <td data-ng-class="{'alert-danger': colVindex.Col==''}">{{colVindex.Col}}
              <div data-ng-show="colVindex.Col==''">(empty)</div>
            </td>
            <td>
              <div class="dropdown">
                <button
                  data-ng-class="{'btn dropdown-toggle': true, 'alert-danger': vindexHasError(className, $index)}"
                  title="{{vindexHasError(className, $index)}}" type="button"
                  data-toggle="dropdown">
                  {{colVindex.Name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    data-ng-repeat="vindex in validVindexes(className, $index)"
                    data-ng-click="setName(colVindex, vindex)"><a
                    href="#/editor/{{keyspaceName}}/class/{{className}}">{{vindex}}</a></li>
                </ul>
              </div>
            </td>
            <td><a type="button" class="btn btn-xs"
              data-ng-click="deleteColVindex($index)"> <span
                class="glyphicon glyphicon-remove"></span>
            </a></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Column"
                  data-ng-model="classEditor.newColumnName">
                <div class="input-group-btn">
                  <button type="button" class="btn dropdown-toggle"
                    data-toggle="dropdown">
                    Add <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li
                      data-ng-repeat="vindex in validVindexes(className, klass.ColVindexes.length)"
                      data-ng-click="addColVindex(classEditor.newColumnName, vindex)"><a
                      href="#/editor/{{keyspaceName}}/class/{{className}}">{{vindex}}</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <tr data-ng-show="classEditor.err">
            <td colspan="2">
              <div class="alert alert-danger" data-ng-show="classEditor.err">
                {{classEditor.err}}<a type="button"
                  class="alert-danger pull-right"
                  data-ng-click="clearClassError()"> <span
                  class="glyphicon glyphicon-remove"></span>
                </a>
              </div>
            </td>
          </tr>
        </table>
        <button type="button" class="btn btn-default btn-lg"
          onclick="history.back()" title="Back">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
      </div>
    </div>
  </div>
</div>
