<div class="container clusters" id="clusters_analysis">
</div>


<script>
	function removeTextFromHostnameDisplay() {
		return "{{.removeTextFromHostnameDisplay}}";
	}
</script>
<script src="{{.prefix}}/js/cluster-analysis-shared.js"></script>
<script src="{{.prefix}}/js/clusters-analysis.js"></script>
