<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Discover a new instance
		</div>
		<div class="panel-body">
			<div class="">
				<p>
					Enter a MySQL hostname and a port. <i>Orchestrator</i> will try and resolve the CNAME.
				</p>
				<p>
					If running in discovery mode, <i>orchestrator</i> will also attempt to discover the entire topology the instance belongs to.
				</p>
			</div>

			<form role="form" class="form-inline">
				<input type="text" class="form-control" id="discoverHostName" placeholder="Enter host name">
				<input type="text" class="form-control" id="discoverPort" value="3306" placeholder="port">
				<button type="submit" class="btn btn-primary" data-btn="discover-instance">Submit</button>
			</form>
		</div>
	</div>
</div>

<script src="{{.prefix}}/js/discover.js"></script>
