<div class="container" id="orchestratorStatus">
	<div class="panel panel-default">
		<div class="panel-heading">
			Status
		</div>
		<div class="panel-body">
			<table class="status-table status-table-primary table">
			</table>
			<table class="status-table status-table-raft table">
			</table>
		</div>
		<div class="panel-footer">
		</div>
	</div>
</div>

<script src="{{.prefix}}/js/status.js"></script>
