html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.content {
  padding: 10px;
}

.frame {
  padding: 0;
}

md-icon {
  color: #888;
}

md-nav-list md-icon {
  margin-right: 10px;
}

.md-button-wrapper md-icon {
  position: relative;
  top: 6px;
}

md-card {
  margin-top: 14px;
}

