
.vt-popUp{

 
}
.vt-form-member{
  display: table-row;
}
.vt-actions-container {
  display:flex;
  justify-content:center;
  align-items:center;
}
md-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}  

md-card-content  { 
  display: table; 
  border-collapse:separate;
  border-spacing:3em 2em;
}
md-card-title{
  text-align: center;
  font-size: 200%;
}
label { 
  display: table-cell; 
  font-size: 200%;
}
.vt-form-input { 
  display: table-cell; 
  font-size: 200%;
}