<div class="md-padding md-whiteframe-z1 notice">
Routing indexes are part of an experimental new feature.
They are only used with the
<a href="http://vitess.io/doc/VTGateV3/">VTGate V3 API</a>.
</div>

<md-content class="md-padding">

<md-card>
<md-toolbar>
<div class="md-toolbar-tools">
  <h2>Keyspaces</h2>

  <span flex></span>

  <md-button class="md-icon-button md-raised md-primary md-hue-3" aria-label="Add Keyspace"
      ng-click="addKeyspaceDialog($event)">
    <md-tooltip>Add Keyspace</md-tooltip>
    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>

  <md-button class="md-icon-button md-raised md-primary md-hue-3" aria-label="Revert"
      ng-disabled="!vschema.$resolved"
      ng-click="refreshData()">
    <md-tooltip>Revert All</md-tooltip>
    <md-icon md-font-set="material-icons">undo</md-icon>
  </md-button>

  <md-button class="md-icon-button md-raised md-accent" aria-label="Save"
      ng-disabled="!vschema.$resolved"
      ng-click="submitVSchema($event)">
    <md-tooltip>Save All</md-tooltip>
    <md-icon md-font-set="material-icons">save</md-icon>
  </md-button>
</div>
</md-toolbar>

<div ng-if="!vschema.$resolved" flex layout="column" layout-align="center center" class="md-padding">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  <h3>Loading...</h3>
</div>

<div ng-if="vschema.$resolved && !hasKeys(vschema.Keyspaces)" flex layout="column" layout-align="center center" class="md-padding">
  <h3>No keyspaces defined.</h3>
</div>

<md-tabs md-border-bottom md-center-tabs="false" ng-if="hasKeys(vschema.Keyspaces)" md-autoselect="true">
  <md-tab ng-repeat="(key, value) in vschema.Keyspaces" label="{{key}}"
      md-on-select="setKeyspace(key, value)">
  </md-tab>
</md-tabs>

<md-card-content layout="column" ng-if="hasKeys(vschema.Keyspaces) && keyspace">

  <div layout="row" layout-align="space-between">
    <md-switch ng-model="keyspace.Sharded" ng-change="onShardedChange(keyspace)">
      <h3>{{keyspace.Sharded ? 'Sharded' : 'Unsharded'}}</h3>
    </md-switch>
    <md-button class="md-icon-button md-raised"
        ng-click="removeKeyspace(keyspacename)">
        <md-tooltip>Remove Keyspace</md-tooltip>
        <md-icon md-font-set="material-icons">remove</md-icon>
    </md-button>
  </div>

  <md-card>
    <md-toolbar class="md-primary md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Tables</h2>
    </div>
    </md-toolbar>

    <md-card-content layout="column">

    <div ng-repeat="(table, class) in keyspace.Tables">
      <form name="tableForm" layout="row">
      <md-button class="md-icon-button md-raised" aria-label="Remove Table" ng-click="removeTable(keyspace, table)">
        <md-tooltip>Remove Table</md-tooltip>
        <md-icon md-font-set="material-icons">remove</md-icon>
      </md-button>

      <md-input-container flex>
        <label>Table</label>
        <input type="text" ng-model="table" disabled class="input-header">
      </md-input-container>

      <md-autocomplete flex md-floating-label="Class"
          md-min-length="keyspace.Sharded ? 0 : 1000"
          md-selected-item=""
          md-selected-item-change=""
          md-search-text="keyspace.Tables[table]"
          md-search-text-change=""
          md-items="item in classSelector(keyspace, keyspace.Tables[table])"
          md-item-text="item" md-autofocus="false">
        <md-item-template>
          <span md-highlight-text="keyspace.Tables[table]">{{item}}</span>
        </md-item-template>
        <md-not-found>No classes found matching "{{keyspace.Tables[table]}}".</md-not-found>
        <div ng-messages="tableForm.classname.$error">
          <div ng-message="vempty">Class should be empty for non-sharded keyspace.</div>
          <div ng-message="vrequired">Required</div>
          <div ng-message="vdefined">Undefined Class</div>
        </div>
      </md-autocomplete>
      <input ng-hide="true" name="classname" ng-model="keyspace.Tables[table]" vclass>
      </form>
    </div>

    <form name="addTableForm" layout="row"
          ng-submit="addTable(keyspace, newTable, newTableClass); newTable=''; newTableClass=''; addTableForm.$setUntouched()">
      <md-button class="md-icon-button md-raised md-primary md-hue-3"
          type="submit" aria-label="Add Table" ng-disabled="addTableForm.$invalid">
        <md-tooltip>Add Table</md-tooltip>
        <md-icon md-font-set="material-icons">add</md-icon>
      </md-button>

      <md-input-container flex>
        <label>Table</label>
        <input type="text" ng-model="newTable" name="table" class="input-header" required>
      </md-input-container>

      <md-autocomplete flex md-floating-label="Class"
          md-min-length="keyspace.Sharded ? 0 : 1000"
          md-selected-item=""
          md-selected-item-change=""
          md-search-text="newTableClass"
          md-search-text-change=""
          md-items="item in classSelector(keyspace, newTableClass)"
          md-item-text="item" md-autofocus="false">
        <md-item-template>
          <span md-highlight-text="keyspace.Tables[table]">{{item}}</span>
        </md-item-template>
        <md-not-found>No classes found matching "{{keyspace.Tables[table]}}".</md-not-found>
        <div ng-messages="addTableForm.classname.$error">
          <div ng-message="vempty">Class should be empty for non-sharded keyspace.</div>
          <div ng-message="vdefined">Undefined Class</div>
        </div>
      </md-autocomplete>
      <input ng-hide="true" name="classname" ng-model="newTableClass" vclass>
    </form>

    </md-card-content>
  </md-card>

  <md-card ng-if="keyspace.Sharded">
    <md-toolbar class="md-primary md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Classes</h2>
    </div>
    </md-toolbar>

    <md-card-content layout="column">

    <div layout="row" layout-align="start start"
        ng-repeat="(classname, classval) in keyspace.Classes">
      <md-button class="md-icon-button md-raised" aria-label="Remove Class" ng-click="removeClass(keyspace, classname)">
        <md-tooltip>Remove Class</md-tooltip>
        <md-icon md-font-set="material-icons">remove</md-icon>
      </md-button>

      <md-input-container flex="30">
        <label>Class</label>
        <input type="text" ng-model="classname" disabled class="input-header">
      </md-input-container>

      <div layout="column" flex>

      <div ng-repeat="col in classval.ColVindexes">
        <form name="classForm" layout="row">
        <md-input-container flex>
          <label>Column</label>
          <input type="text" ng-model="col.Col">
        </md-input-container>

        <md-autocomplete flex md-floating-label="Vindex" md-min-length="0"
            md-selected-item=""
            md-selected-item-change=""
            md-search-text="col.Name"
            md-search-text-change=""
            md-items="item in vindexSelector(keyspace, col.Name)"
            md-item-text="item" md-autofocus="false">
          <md-item-template>
            <span md-highlight-text="col.Name">{{item}}</span>
          </md-item-template>
          <md-not-found>No vindexes found matching "{{col.Name}}".</md-not-found>
          <div ng-messages="classForm.vindex.$error">
            <div ng-message="required">Required</div>
            <div ng-message="vdefined">Undefined Vindex</div>
          </div>
        </md-autocomplete>
        <input ng-hide="true" name="vindex" ng-model="col.Name" vindex required>

        <md-button class="md-icon-button md-raised" aria-label="Remove Column" ng-click="removeColumn(keyspace, classname, $index)">
          <md-tooltip>Remove Column</md-tooltip>
          <md-icon md-font-set="material-icons">remove</md-icon>
        </md-button>
        </form>
      </div>

      <form name="addColumnForm" layout="row"
          ng-submit="addColumn(keyspace, classname, newCol, newColVindex); newCol=''; newColVindex=''; addColumnForm.$setUntouched()">
        <md-input-container flex>
          <label>Column</label>
          <input type="text" ng-model="newCol" name="column" required>
        </md-input-container>

        <md-autocomplete flex md-floating-label="Vindex" md-min-length="0"
            md-selected-item=""
            md-selected-item-change=""
            md-search-text="newColVindex"
            md-search-text-change=""
            md-items="item in vindexSelector(keyspace, newColVindex)"
            md-item-text="item" md-autofocus="false">
          <md-item-template>
            <span md-highlight-text="newColVindex">{{item}}</span>
          </md-item-template>
          <md-not-found>No vindexes found matching "{{newColVindex}}".</md-not-found>
          <div ng-messages="addColumnForm.vindex.$error">
            <div ng-message="vdefined">Undefined Vindex</div>
          </div>
        </md-autocomplete>
        <input ng-hide="true" name="vindex" ng-model="newColVindex" vindex required>

        <md-button class="md-icon-button md-raised md-primary md-hue-3" aria-label="Add Column"
            type="submit" ng-disabled="addColumnForm.$invalid">
          <md-tooltip>Add Column</md-tooltip>
          <md-icon md-font-set="material-icons">add</md-icon>
        </md-button>
      </form>

      </div>
    </div>

    <form name="addClassForm" layout="row"
        ng-submit="addClass(keyspace, newClass); newClass=''; addClassForm.$setUntouched()">
      <md-button class="md-icon-button md-raised md-primary md-hue-3" aria-label="Add Class"
          ng-disabled="addClassForm.$invalid">
        <md-tooltip>Add Class</md-tooltip>
        <md-icon md-font-set="material-icons">add</md-icon>
      </md-button>

      <md-input-container flex="30">
        <label>Class</label>
        <input type="text" ng-model="newClass" class="input-header" name="class" required>
      </md-input-container>
    </form>

    </md-card-content>
  </md-card>

  <md-card ng-if="keyspace.Sharded">
    <md-toolbar class="md-primary md-hue-3">
    <div class="md-toolbar-tools">
      <h2>Vindexes</h2>
    </div>
    </md-toolbar>

    <md-card-content layout="column">

    <div ng-repeat="(vindexname, vindex) in keyspace.Vindexes">
      <form name="vindexForm" layout="row" layout-align="start start">
      <md-button class="md-icon-button md-raised" aria-label="Remove Vindex" ng-click="removeVindex(keyspace, vindexname)">
        <md-tooltip>Remove Vindex</md-tooltip>
        <md-icon md-font-set="material-icons">remove</md-icon>
      </md-button>

      <md-input-container flex="30">
        <label>Vindex</label>
        <input type="text" ng-model="vindexname" name="vindex" disabled class="input-header">
      </md-input-container>

      <div layout="column" flex>
        <div layout="row">
          <md-autocomplete flex md-floating-label="Type" md-min-length="0"
              md-selected-item="selectedVindexType[keyspacename][vindexname]"
              md-selected-item-change="onVindexTypeChange(vindex, selectedVindexType[keyspacename][vindexname])"
              md-search-text="vindex.Type"
              md-search-text-change="onVindexTypeChange(vindex, vindex.Type)"
              md-items="item in vindexTypeSelector(vindex.Type)"
              md-item-text="item" md-autofocus="false">
            <md-item-template>
              <span md-highlight-text="vindex.Type">{{item}}</span>
            </md-item-template>
            <md-not-found>No vindex types found matching "{{vindex.Type}}".</md-not-found>
            <div ng-messages="vindexForm.vindexType.$error">
              <div ng-message="required">Required</div>
              <div ng-message="vdefined">Undefined Vindex Type</div>
              <div ng-message="vprimaryUnique">Primary vindex must be unique.</div>
              <div ng-message="vownedPrimaryFunctional">Owned primary vindex must have a functional type.</div>
              <div ng-message="vownedNonPrimaryLookup">Owned non-primary vindex must have a lookup type.</div>
            </div>
          </md-autocomplete>
          <input ng-hide="true" name="vindexType" ng-model="vindex.Type" vindex-type required>

          <md-autocomplete flex md-floating-label="Owner" md-min-length="0"
              md-selected-item=""
              md-selected-item-change=""
              md-search-text="vindex.Owner"
              md-search-text-change=""
              md-items="item in tableSelector(keyspace, vindex.Owner)"
              md-item-text="item" md-autofocus="false">
            <md-item-template>
              <span md-highlight-text="vindex.Owner">{{item}}</span>
            </md-item-template>
            <md-not-found>No tables found matching "{{vindex.Owner}}".</md-not-found>
            <div ng-messages="vindexForm.vindexOwner.$error">
              <div ng-message="vdefined">Undefined Table</div>
              <div ng-message="vcontained">Table's class doesn't contain this vindex.</div>
            </div>
          </md-autocomplete>
          <input ng-hide="true" name="vindexOwner" ng-model="vindex.Owner" vindex-owner>
        </div>

        <div layout="row" layout-wrap>
          <md-input-container flex ng-repeat="(param, val) in vindex.Params">
            <label>{{param}}</label>
            <input type="text" ng-model="vindex.Params[param]">
          </md-input-container>
        </div>
      </div>
      </form>
    </div>

    <form name="vindexForm" layout="row"
        ng-submit="addVindex(keyspace, newVindex, newVindexType, newVindexOwner); newVindex=''; newVindexType=''; newVindexOwner=''; vindexForm.$setUntouched()">
      <md-button class="md-icon-button md-raised md-primary md-hue-3" aria-label="Add Vindex"
          type="submit" ng-disabled="vindexForm.$invalid">
        <md-tooltip>Add Vindex</md-tooltip>
        <md-icon md-font-set="material-icons">add</md-icon>
      </md-button>

      <md-input-container flex="30">
        <label>Vindex</label>
        <input type="text" ng-model="newVindex" class="input-header" name="vindex" required>
      </md-input-container>

      <md-autocomplete flex md-floating-label="Type" md-min-length="0"
          md-selected-item=""
          md-selected-item-change=""
          md-search-text="newVindexType"
          md-search-text-change=""
          md-items="item in vindexTypeSelector(newVindexType)"
          md-item-text="item" md-autofocus="false">
        <md-item-template>
          <span md-highlight-text="newVindexType">{{item}}</span>
        </md-item-template>
        <md-not-found>No vindex types found matching "{{newVindexType}}".</md-not-found>
        <div ng-messages="vindexForm.vindexType.$error">
          <div ng-message="vdefined">Undefined Vindex Type</div>
          <div ng-message="vprimaryUnique">Primary vindex must be unique.</div>
          <div ng-message="vownedPrimaryFunctional">Owned primary vindex must have a functional type.</div>
          <div ng-message="vownedNonPrimaryLookup">Owned non-primary vindex must have a lookup type.</div>
        </div>
      </md-autocomplete>
      <input ng-hide="true" name="vindexType" ng-model="newVindexType" vindex-type required>

      <md-autocomplete flex md-floating-label="Owner" md-min-length="0"
          md-selected-item=""
          md-selected-item-change=""
          md-search-text="newVindexOwner"
          md-search-text-change=""
          md-items="item in tableSelector(keyspace, newVindexOwner)"
          md-item-text="item" md-autofocus="false">
        <md-item-template>
          <span md-highlight-text="newVindexOwner">{{item}}</span>
        </md-item-template>
        <md-not-found>No tables found matching "{{newVindexOwner}}".</md-not-found>
        <div ng-messages="vindexForm.vindexOwner.$error">
          <div ng-message="vdefined">Undefined Table</div>
          <div ng-message="vcontained">Table's class doesn't contain this vindex.</div>
        </div>
      </md-autocomplete>
      <input ng-hide="true" name="vindexOwner" ng-model="newVindexOwner" vindex-owner>
    </div>

    </md-card-content>
  </md-card>

</md-card-content>

</md-card>

</md-content>
