{
  "id": "acceleratedmobilepageurl:v1",
  "description": "This API contains a single method, batchGet. Call this method to retrieve the AMP URL (and equivalent AMP Cache URL) for given public URL(s).\n",
  "protocol": "rest",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "parameterOrder": [],
          "description": "Returns AMP URL(s) and equivalent\n[AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "flatPath": "v1/ampUrls:batchGet",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/ampUrls:batchGet"
        }
      }
    }
  },
  "schemas": {
    "AmpUrl": {
      "description": "AMP URL response for a requested URL.",
      "type": "object",
      "properties": {
        "ampUrl": {
          "description": "The AMP URL pointing to the publisher's web server.",
          "type": "string"
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "cdnAmpUrl": {
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to\nthe cached document in the Google AMP Cache.",
          "type": "string"
        }
      },
      "id": "AmpUrl"
    },
    "AmpUrlError": {
      "description": "AMP URL Error resource for a requested URL that couldn't be found.",
      "type": "object",
      "properties": {
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "errorCode": {
          "description": "The error code of an API call.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ],
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because\nit's unable to be found, not able to be accessed by Googlebot, or some\nother error.",
            "Indicates no AMP URL has been found that corresponds to the requested\nURL.",
            "Indicates some kind of application error occurred at the server.\nClient advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL.  This is a\nnon-error state, should not be relied upon as a sign of success or\nfailure.  It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request\nURL, but it is not valid AMP HTML."
          ],
          "type": "string"
        },
        "errorMessage": {
          "description": "An optional descriptive error message.",
          "type": "string"
        }
      },
      "id": "AmpUrlError"
    },
    "BatchGetAmpUrlsRequest": {
      "description": "AMP URL request for a batch of URLs.",
      "type": "object",
      "properties": {
        "lookupStrategy": {
          "description": "The lookup_strategy being requested.",
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ],
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in\nthe index. Any request URL not found in the index is crawled in realtime\nto validate if there is a corresponding AMP URL. This strategy has higher\ncoverage but with extra latency introduced by realtime crawling. This is\nthe default strategy. Applications using this strategy should set higher\nHTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found\nin index. For applications which need low latency use of IN_INDEX_DOC\nstrategy is recommended."
          ],
          "type": "string"
        },
        "urls": {
          "description": "List of URLs to look up for the paired AMP URLs.\nThe URLs are case-sensitive. Up to 50 URLs per lookup\n(see [Usage Limits](/amp/cache/reference/limits)).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchGetAmpUrlsRequest"
    },
    "BatchGetAmpUrlsResponse": {
      "description": "Batch AMP URL response.",
      "type": "object",
      "properties": {
        "urlErrors": {
          "description": "The errors for requested URLs that have no AMP URL.",
          "type": "array",
          "items": {
            "$ref": "AmpUrlError"
          }
        },
        "ampUrls": {
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might\nnot be in the same order as URLs in the batch request.\nIf BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated\nonly once.",
          "type": "array",
          "items": {
            "$ref": "AmpUrl"
          }
        }
      },
      "id": "BatchGetAmpUrlsResponse"
    }
  },
  "revision": "20160928",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": "True",
  "discoveryVersion": "v1",
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "name": "acceleratedmobilepageurl",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/amp/cache/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "",
  "ownerName": "Google",
  "version": "v1",
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "kind": "discovery#restDescription"
}
