h1 {
  text-align: center;
}
paper-dialog h2 {
  text-align: center;
}
md-card-title {
  text-align: center;
}
.vt-shardCard {
  display: inline-table;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
}
.vt-actions-container {
  display:flex;
  justify-content:center;
  align-items:center;
}
.vt-add-container {
  display:flex;
  justify-content:center;
  align-items:center;
}
.vt-add-sh {
  font-size: 400%;
}
.vt-popUpContainer{
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}
.vt-form-member{
  display: table-row;
}
paper-item { 
  display: table-cell; 
  position: relative;
  padding-bottom: 1%;
  vertical-align:bottom;
}
div paper-input { 
  display: table-cell;
}
paper-checkbox {
  display: block;
  padding-top: 24px;
  padding-bottom: 3%;
}
paper-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
paper-toast {
  margin-left: 50%;
}