<h1>{{keyspaceName}}</h1>
<div *ngIf="keyspace.servingShards">
  <h2>Serving Shards</h2>
  <div *ngFor="let shard of keyspace.servingShards" class="vt-shardCard">
    <a (click)="nav(keyspaceName, shard)">
      <md-card> 
        <md-card-title>{{shard}}</md-card-title>   
        <md-card-actions>
          <div class="vt-actions-container">
            <paper-button raised (click)="blockClicks($event)">Backup</paper-button>
            <paper-button raised onclick="modal.open()" (click)="blockClicks($event);toggleForm();populateNSH(shard);">Edit</paper-button>
          </div>
        </md-card-actions>
      </md-card>
    </a>
  </div>
</div>

<div *ngIf="keyspace.nonservingShards">
  <h2>Nonserving Shards</h2>
  <div *ngFor="let shard of keyspace.nonservingShards" class="vt-shardCard">
    <md-card> 
      <md-card-title>{{shard}}</md-card-title>   
      <md-card-actions>
        <div class="vt-actions-container">
          <paper-button raised (click)="blockClicks($event)">Backup</paper-button>
          <paper-button raised onclick="modal.open()" (click)="blockClicks($event);toggleForm();populateNSH(shard);">Edit</paper-button>
        </div>
      </md-card-actions>
    </md-card>
  </div>
</div>

<div *ngIf="shardsReady" class="vt-shardCard">
  <h2>Create a New Shard</h2>
  <a onclick="modal.open()" (click)="toggleForm();clearNSH()">
    <md-card>
      <md-card-title>New Shard</md-card-title>   
      <md-card-content>
        <div class="vt-add-container">
          <span class="vt-add-sh">+</span>
        </div>
      </md-card-content>
      <md-card-actions>
        <div class="vt-actions-container">
          <paper-button raised >Create</paper-button>
        </div>
      </md-card-actions>
    </md-card>
  </a>
</div>

<paper-dialog id="modal" no-cancel-on-outside-click="true" no-cancel-on-esc-key="true">
  <h2>{{dialogTitle}}</h2>
  <div class="vt-form">
    <div class="vt-form-member">
      <paper-item>Name: </paper-item>
      <paper-item>{{getName(NSH.lowerBound,NSH.upperBound)}}</paper-item>
    </div>
    <div class="vt-form-member">
      <paper-item>LowerBound: </paper-item>
      <paper-input [(ngModel)]="NSH.lowerBound" auto-validate pattern="[0-9a-f]*" error-message="must use 0-f" label=" lowerBound (ex. 40)"></paper-input>
    </div>
    <div class="vt-form-member">
      <paper-item>UpperBound: </paper-item>
      <paper-input [(ngModel)]="NSH.upperBound" auto-validate pattern="[0-9a-f]*" error-message="must use 0-f" label=" lowerBound (ex. 40)" label=" upperBound (ex. 80)"></paper-input>
    </div>
  </div>
  <div class="buttons">
    <paper-button  autofocus onClick="modal.close()" on-click="toggleForm()">Cancel</paper-button>
    <paper-button  autofocus onClick="modal.close();toast.open()" on-click="toggleForm();actionFunction()">{{actionWord}}</paper-button>
  </div>
</paper-dialog>
<div *ngIf="openForm" class="vt-popUpContainer" >
</div>

<paper-toast id="toast" text="{{actionWordPast}} Shard {{getName(NSH.lowerBound,NSH.upperBound)}}"></paper-toast>
