<!--<div class="fill-lower-space">
  <div class="wq-title">
  <h1>WORKQUEUE</h1>
  </div>
  <div class="wq-container">
  <md-card *ngFor="let job of jobs"> 
    <md-card-title>{{job.name}}</md-card-title>   
    <md-card-content>
        <div class="progress-bar-container">
        <md-progress-bar mode="determinate"
          [value]="job.progress"
          color="primary"
          class="progress-bar-margins">
        </md-progress-bar>
      </div>
    </md-card-content>
    <md-card-actions>
        <button md-button>Cancel</button>
    </md-card-actions>

  </md-card>
  </div>
</div>
-->
<!--<div class="fill-lower-space">
  <div class="wq-title">
    <h1>Tasks</h1>
  </div>
  <span class="vt-root-workflow" *ngFor="let workflowId of getWorkflowIds()">
    <vt-workflow  [(workflow)]="this.workflows[workflowId]"></vt-workflow>
  </span>
</div>-->


<div class="fill-lower-space">
  <div class="wq-title">
    <h1 md-tooltip="some message" tooltip-position="above">Tasks</h1>
  </div>
  <p-accordion *ngFor="let workflowId of getWorkflowIds()">
    <span >
      <p-accordionTab header="">
        <header class="vt-pad-header  {{getHeaderClass(workflows[workflowId].state)}}">
          <div class="vt-accordion-header vt-accordion-name-wrapper">
              <span class="vt-accordion-name">
                {{workflows[workflowId].name}}
              </span>
            </div>
            <div class="vt-accordion-header vt-progress-bar-wrapper">
              <md-progress-bar class="vt-progress-bar" *ngIf="workflows[workflowId].isDeterminate()" mode="determinate" [value]="workflows[workflowId].progress" color="primary"></md-progress-bar>
              <md-progress-bar class="vt-accordion-header vt-progress-bar" *ngIf="workflows[workflowId].isIndeterminate()" mode="indeterminate" color="primary"></md-progress-bar>
            </div>
            <div class="vt-accordion-header vt-progress-msg-wrapper" *ngIf="workflows[workflowId].isDeterminate() || workflows[workflowId].isIndeterminate()" >
              <span class="vt-progress-msg">
                {{workflows[workflowId].progressMsg}}
              </span>
            </div>
        </header>
        <vt-workflow [(workflow)]="workflows[workflowId]"></vt-workflow>
      </p-accordionTab>
    </span>
  </p-accordion>
</div>