<div class="vt-workflow {{getWorkflowClass()}}" *ngIf="workflow">
  <div class="vt-workflow-content">
    <table>
      <td class="vt-msg">
        {{workflow.message}}
      </td>
      <td class="vt-log">
        <p-accordion>
          <p-accordionTab [disabled]="workflow.log.length === 0">
          <header class="vt-accordion-name">
            Log
          </header>
          {{workflow.log}}
          </p-accordionTab>
        </p-accordion>
      </td>
    </table>
    <span *ngIf="getTime()" class="vt-workflow-time">Last Change: {{getTime()}}</span>
  </div>
  <div class="vt-actions">
    <span *ngFor="let action of workflow.actions">
      <button md-raised-button disableRipple=true [disabled]="action.isDisabled()" class="{{getActionClass(action.style)}}">{{action.name}}</button>
    </span>
  </div>
  <div class="vt-drawer">
    <p-accordion *ngFor="let childId of getChildrenIds()">
      <span>
        <p-accordionTab>
          <header class="vt-pad-header {{getHeaderClass(workflow.children[childId].state)}}">
            <div class="vt-accordion-header vt-accordion-name-wrapper">
              <span class="vt-accordion-name">
                {{workflow.children[childId].name}}
              </span>
            </div>
            <div class="vt-accordion-header vt-progress-bar-wrapper">
              <md-progress-bar class="vt-progress-bar" *ngIf="workflow.children[childId].isDeterminate()" mode="determinate" [value]="workflow.children[childId].progress" color="primary"></md-progress-bar>
              <md-progress-bar class="vt-accordion-header vt-progress-bar" *ngIf="workflow.children[childId].isIndeterminate()" mode="indeterminate" color="primary"></md-progress-bar>
            </div>
            <div class="vt-accordion-header vt-progress-msg-wrapper" *ngIf="workflow.children[childId].isDeterminate() || workflow.children[childId].isIndeterminate()" >
              <span class="vt-progress-msg">
                {{workflow.children[childId].progressMsg}}
              </span>
            </div>
          </header>
          <vt-workflow [(workflow)]="workflow.children[childId]"></vt-workflow>
        </p-accordionTab>
      </span>
    </p-accordion>
  </div>
</div>