.vt-workflow-not-started {
  background-color: #FFF9C4;
  padding: 5px;
  padding-left: 15px;
  margin: 0;
}

.vt-workflow-running {
  background-color: #C8E6C9;
  padding: 5px;
  padding-left: 15px;
  margin: 0;
}

.vt-workflow-done {
  background-color: #BDBDBD;
  padding: 5px;
  padding-left: 15px;
  margin: 0;
}

.vt-workflow-content {
}

.vt-workflow-time {
  position: absolute;
  top: 5px;
  right: 5px;
  color: grey;
}

.vt-action-enabled {
}
.vt-action-disabled {
  background-color: grey;
}
.vt-action-warning {
  background-color: #f44336;
}
.vt-action-waiting {
  background-color: #3F51B5;
}

md-card h1 {
  margin: 2px;
}

.vt-workflow-not-started-dark {
  background-color: #FFD54F;
}

.vt-workflow-running-dark {
  background-color: #4CAF50;
}

.vt-workflow-done-dark {
  background-color: #808080;
}





.vt-accordion-header {
  display: inline-block;
  padding-right: 10px;
}

.vt-accordian-name-wrapper {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-accordian-name {
  
}

.vt-progress-bar-wrapper {
  width: 60%;
}

.vt-progress-bar {
  padding-bottom: 3px;
}

.vt-progress-msg-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-progress-msg {
  padding-top: 1px;
}
