<md-card class="{{getWorkflowClass()}}" *ngIf="workflow">
  <div class="vt-workflow-content">
    <h1>{{workflow.name}}</h1>
    <h3>{{workflow.message}}</h3>
    <span *ngIf="getTime()" class="vt-workflow-time">Last Change: {{getTime()}}</span>
  </div>
  <div class="vt-actions">
    <span *ngFor="let action of workflow.actions">
      <button md-raised-button (click)="blockClick($event)" class="{{getActionClass(action.state)}}">{{action.name}}</button>
    </span>
  </div>
  <div class="vt-drawer">
    <p-accordion *ngFor="let childId of getChildrenIds()">
      <span>
        <p-accordionTab header="" class="{{getHeaderClass(workflow.children[childId].state)}}">
          <header>
            {{workflow.children[childId].name}}
            <span class="vt-accordion-header vt-progress-msg" *ngIf="workflow.children[childId].isDeterminate() || workflow.children[childId].isIndeterminate()" >{{workflow.children[childId].progressMsg}}</span>
            <md-progress-bar class="vt-accordion-header vt-progress-bar" *ngIf="workflow.children[childId].isDeterminate()" mode="determinate" [value]="workflow.children[childId].progress" color="primary"></md-progress-bar>
            <md-progress-bar class="vt-accordion-header vt-progress-bar" *ngIf="workflow.children[childId].isIndeterminate()" mode="indeterminate" color="primary"></md-progress-bar>
          </header>
          <vt-workflow [(workflow)]="workflow.children[childId]"></vt-workflow>
        </p-accordionTab>
      </span>
    </p-accordion>
  </div>
</md-card>