{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-prettier"
	],
	"rules": {
		"at-rule-no-unknown": null,
		"custom-property-pattern": null,
		"scss/dollar-variable-pattern": null,
		"selector-class-pattern": null
	}
}
