<h1>{{shardName}}</h1>

<div class="vt-tablet-container">
  <md-card class="vt-tabletCard"> 
    <p-dataTable [value]="tablets">
      <p-column field="type" header="Type" sortable="true">
        <template let-col let-tab="rowData">
        {{getName(tab[col.field])}}
        </template>
      </p-column>
      <p-column field="status" header="Status" sortable="true"></p-column>
      <p-column field="stat" header="Stat1" sortable="true"></p-column>
      <p-column field="stat2" header="Stat2" sortable="true"></p-column>
    </p-dataTable>
  </md-card>
</div>