<div class="fill-lower-space">
  <div class="wq-title">
  <h1>WORKQUEUE</h1>
  </div>
  <div class="wq-container">
  <md-card *ngFor="let job of jobs"> 
    <md-card-title>{{job.name}}</md-card-title>   
    <md-card-content>
        <div class="progress-bar-container">
        <md-progress-bar mode="determinate"
          [value]="job.progress"
          color="primary"
          class="progress-bar-margins">
        </md-progress-bar>
      </div>
    </md-card-content>
    <md-card-actions>
        <button md-button>Cancel</button>
    </md-card-actions>

  </md-card>
  </div>
</div>