<table class="collapsed-border">
  <!-- The first row with an offset to match the heatmap labels. -->
  <tr [ngStyle]="{'height': (getXLabelsRowHeight())+'px'}">
    <td class="no-padding"></td>
    <td class="no-padding"></td>
    <td class="no-padding" [attr.rowspan]="(getTotalRows()+1)">
      <div id="{{name}}">
        <!-- Heatmap gets drawn in this div-->
      </div>
    </td>
  </tr>

  <!-- The labels, and nested labels, of the map are drawn -->
  <div *ngFor="let label of yLabels">
    <tr *ngFor="let nestedLabel of label.NestedLabels; let i = index" [attr.height]="getRowHeight()">
      <td *ngIf="i==0" class="bordered" [attr.rowspan]="label.NestedLabels.length">{{label.Label}}</td>
      <td class="bordered">{{nestedLabel}}</td>
    </tr>
  </div>
</table>
