.bordered {
    border: 1px solid black;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.collapsed-border {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    float: left;
    margin: 0 0;
    border: 1px solid black;
}

.no-padding {
  padding: 0;
}

.centered {
  margin: 0 auto;
}

.popup {
  position: absolute;
  right: 5px;
  width: 20%;
  height: auto;
  border: 1px solid black;
  background-color: #FFFFFF;
  float: right;
  text-align: center;
}
