<!-- Keyspace selector -->
<p-dropdown #keyspace (onChange)="handleKeyspaceChange($event)" [options]="keyspaces" [(ngModel)]="selectedKeyspace"></p-dropdown>

<!-- Cell selector -->
<p-dropdown #cell (onChange)="handleCellChange($event)" [options]="cells" [(ngModel)]="selectedCell"></p-dropdown>

<!-- Type selector -->
<p-dropdown #tabletType (onChange)="handleTypeChange($event)" [options]="tabletTypes" [(ngModel)]="selectedType"></p-dropdown>

<!-- Metric selector -->
<p-dropdown #metric (onChange)="handleMetricChange($event)" [options]="metrics" [(ngModel)]="selectedMetric"></p-dropdown>

<!-- Wait until the heatmap data has been obtained from the service -->
<div *ngFor="let h of heatmaps">
  <vt-heatmap *ngIf="heatmapDataReady"
    [heatmap]="h"
    [metric]="metric"
  >
  </vt-heatmap>
</div>
