<!-- Keyspace selector -->
<paper-dropdown-menu label="Keyspace">
  <paper-listbox class="dropdown-content" *ngFor="let k of keyspaces">
    <paper-item>{{k}}</paper-item>
    <paper-item>all</paper-item>
  </paper-listbox>
</paper-dropdown-menu>

<!-- Cell selector -->
<paper-dropdown-menu label="Cell">
  <paper-listbox class="dropdown-content" *ngFor="let c of cells" >
    <paper-item>{{c}}</paper-item>
  </paper-listbox>
</paper-dropdown-menu>

<!-- TabletType selector -->
<paper-dropdown-menu label="TabletType">
  <paper-listbox class="dropdown-content" *ngFor="let t of tabletType">
    <paper-item>{{t}}</paper-item>
  </paper-listbox>
</paper-dropdown-menu>

<!-- Wait until the heatmap data has been obtained from the service -->
<vt-heatmap *ngIf="heatmapDataReady"
  [data]="data"
  [xLabels]="xLabels"
  [yLabels]="yLabels"
  [name]="name"
>
</vt-heatmap>
