<b> {{title}} </b>
<p> {{hostname}} </p>
<table class="collapsed-border" >
  <tr>
    <td class="padded"> Replication Lag </td>
    <td class="padded"> {{lag}} </td>
  </tr>
  <tr>
    <td class="padded"> Qps </td>
    <td class="padded"> {{qps}} </td>
  </tr>
  <tr>
    <td class="padded"> Serving </td>
    <td class="padded"> {{serving}} </td>
  </tr>
  <tr>
    <td class="padded"> Health Error </td>
    <td class="padded"> {{error}} </td>
  </tr>
  <tr>
    <td class="padded"> Last Error </td>
    <td class="padded"> {{lastError}} </td>
  </tr>
</table>
