<div class="vt-toolbar vt-padding">
  <md-icon class="vt-menu" (click)="menu.toggle($event)">menu</md-icon>
  <p-menu #menu popup="popup" [model]="actions"></p-menu>
  <h1 class="vt-title">Keyspaces</h1>
</div>
<div>
  <div *ngFor="let keyspace of keyspaces" class="vt-card">
    <md-card>
      <md-card-title>
        
        <div class="vt-toolbar">
          <md-icon class="vt-menu" (click)="setSelectedKeyspace(keyspace);cardMenu.toggle($event)">menu</md-icon>
          <p-menu #cardMenu popup="popup" [model]="keyspaceActions"></p-menu>
          <h4>{{keyspace.name}}</h4>
        </div>
      </md-card-title>   
      <a class="vt-dark-link" [routerLink]="['/keyspace']" [queryParams]="{keyspace: keyspace.name}">
        <md-card-content >
          <div class="stats-container">
            <md-list>
              <md-list-item>
                <span class="vt-stat-value-container">
                    {{keyspace.servingShards.length}} Shards
                  <span style="color: red" *ngIf="keyspace.nonservingShards.length > 0">
                    (+{{keyspace.nonservingShards.length}} Not serving)
                  </span>
                </span>
              </md-list-item>
            </md-list>
          </div>
        </md-card-content>
      </a>
    </md-card>
  </div>
</div>
<p-dialog [(header)]="dialogSettings.dialogTitle" [(visible)]="dialogSettings.open" draggable="" resizable="" width="800">
  <vt-dialog [(dialogContent)]="dialogContent" [(dialogSettings)]="dialogSettings"></vt-dialog>
</p-dialog>
<vt-add-button (click)="openNewDialog();"></vt-add-button>
<div *ngIf="dialogSettings.open" class="vt-popUpContainer" >
</div>
