h1 {
  text-align: center;
}
md-card-title {
  text-align: center;
}
.keyspaceCard {
  display: inline-block;
  width: 40%;
  text-align: center;
  margin: 1%;
  background-color: #D8D8D8 ;
}
.keyspace-content {
  width: 25%;
  display: inline-block;
  background-color: #A0A0A0;
  margin: 2%;
}
.stats-container {
  width: 90%;
  margin: 0 auto;
}
.vt-stat-value-container {
  position: relative;
  margin-right: .8em;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  color: white;
  background-color: #607D8B;
  height: 100%;
  width: 10%;
  text-align: center;
  padding: auto;
  vertical-align: middle;
}
.vt-stat-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vt-stat-category {
  padding: auto;
  vertical-align: middle;
}
li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin-top: 1%;
  /*margin: .5em;*/
  height: 1.6em;
  border-radius: 4px;
  font-size: 200%;
}
ul {
	text-align: left;
	list-style-type: none;
  padding: 0;
}
.text {
  position: relative;
  top: -3px;
}
.healthy {
  background-color: green;
}
.unhealthy {
  background-color: red;
}
.active {
  background-color: green;
}
.inactive {
  background-color: red;
}
/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}

