h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
md-card-title {
  text-align: center;
}
.vt-row {
  display: flex;
  flex-wrap: wrap;

}
.keyspaceCard {
  display: inline-table;
  width: 40%;
  margin-left: 7%;
  margin-bottom: 1%;
  margin-top: 1%;
}
.stats-container {
  width: 80%;
  margin: 0 auto;
}
.vt-stat-value-container {
  position: relative;
  margin-right: .8em;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  color: white;
  background-color: #607D8B;
  height: 100%;
  width: 10%;
  text-align: center;
  padding: auto;
  vertical-align: middle;
}
.vt-stat-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vt-stat-category {
  padding: auto;
  vertical-align: middle;
}
.vt-actions-container {
  display:flex;
  justify-content:center;
  align-items:center;
}
li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin-top: 1%;
  height: 1.6em;
  border-radius: 4px;
}
ul {
	text-align: left;
	list-style-type: none;
  padding: 0;
}
.vt-add-container {
  display:flex;
  justify-content:center;
  align-items:center;
}
.vt-add-ks {
  font-size: 400%;
}
.text {
  position: relative;
  top: -3px;
}
.healthy {
  background-color: green;
}
.unhealthy {
  background-color: red;
}
.active {
  background-color: green;
}
.inactive {
  background-color: red;
}
paper-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.vt-popUpContainer{
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);

}
.vt-form-member{
  display: table-row;
}
paper-item { 
  display: table-cell; 
  position: relative;
  padding-bottom: 1%;
  vertical-align:bottom;
}
paper-input { 
  display: table-cell;
}
paper-checkbox {
  display: block;
  padding-top: 24px;
  padding-bottom: 3%;
}
.vt-form{
  padding: 0;
  display: table; 
  border-collapse:separate;
  border-spacing:1em 0.5em;
}
paper-toast {
  margin-left: 50%;
}