<h1>DASHBOARD</h1>
<div class="vt-row">
  <div *ngFor="let keyspace of keyspaces" class="keyspaceCard">
    <a [routerLink]="['/keyspace']" [queryParams]="{keyspace: keyspace.name}">
      <md-card>
        <md-card-title>{{keyspace.name}}</md-card-title>   
        <md-card-content >
        	<div class="stats-container">
            <ul>
              <li>
                <span class="vt-stat-value-container">
                  <span class="vt-stat-value">
                    {{keyspace.servingShards.length}}
                  </span>
                </span>
                <span class="vt-stat-category">
                  Serving Shards
                </span>
              </li>
              <li>
            	<span class="vt-stat-value-container">
                <span class="vt-stat-value">
            	    {{keyspace.nonservingShards.length}}
                </span>
            	</span>
            	<span class="vt-stat-category">
                Nonserving Shards
              </span>
              </li>
              <li>
                <span *ngIf="keyspace.healthy">
                  <span class="vt-stat-value-container healthy">
                    <span class="vt-stat-value">
              	      ✓
                    </span>
              	  </span>
              	  <span class="vt-stat-category">
                    Healthy
                  </span>
              	</span>
              	<span *ngIf="!keyspace.healthy">
              	  <span class="vt-stat-value-container unhealthy">
                    <span class="vt-stat-value">
                      !
                    </span>
                  </span>
              	  <span class="vt-stat-category">
                    Unhealthy
                  </span>
              	</span>
              </li>
            </ul>
          </div>
        </md-card-content>
        <md-card-actions>
          <div class="vt-actions-container">
            <a md-button>Reshard</a>
            <a md-button>Backup</a>
          </div>
        </md-card-actions>
      </md-card>
    </a>
  </div>


  <div *ngIf="keyspacesReady" class="keyspaceCard">
    <a (click)="toggleForm()">
      <md-card>
        <md-card-title>New Keyspace</md-card-title>   
        <md-card-content>
          <div class="vt-add-container">
            <span class="vt-add-ks">+</span>
          </div>
        </md-card-content>
        <md-card-actions>
          <div class="vt-actions-container">
            <a md-button>Create</a>
          </div>
        </md-card-actions>
      </md-card>
    </a>
  </div>
</div>
<div>
<p-dialog header="Godfather I" [(visible)]="display" modal="modal" showEffect="fade">
    <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
       His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
       Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
       kind and benevolent to those who give respect, 
       but given to ruthless violence whenever anything stands against the good of the family.</p>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
                <button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
            </div>
        </footer>
</p-dialog>

<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show">Button</button>


<!--
<vt-newkeyspace [(openForm)]="openForm" [toggleForm]="toggleForm" (onClose)="updateOpen($event)"></vt-newkeyspace>-->