>>> vt-shard-view p-dataTable th {
  text-align: left !important;
}

>>> vt-shard-view p-dataTable th:nth-child(1) {
    white-space: nowrap;
    width: 75px;
    text-align: center;
}

>>> vt-shard-view p-dataTable th:nth-child(2) {
    white-space: nowrap;
    width: 75px;
    text-align: center;
}

>>> vt-shard-view p-dataTable th:nth-child(3) {
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

>>> vt-shard-view p-dataTable th:nth-child(4) {
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

>>> vt-shard-view p-dataTable th:nth-child(7) {
    white-space: nowrap;
    width: 100px;
    text-align: center;
}
