<h3 *ngIf="!tabletReady">Loading...</h3>
<div *ngIf="tabletReady">
  <h1>{{tablet.label}}</h1>
  <div class="vt-action-center">
    <p-accordion>
      <p-accordionTab header="Actions">
        <button md-raised-button (click)="openDeleteTabletDialog();">Delete</button>
        <button md-raised-button (click)="openPingTabletDialog();">Ping</button>
        <button md-raised-button (click)="openRefreshTabletDialog();">Refresh State</button>
        <button md-raised-button (click)="openSetReadOnlyDialog();">SetReadOnly</button>
        <button md-raised-button (click)="openSetReadWriteDialog();">SetReadWrite</button>
        <button md-raised-button (click)="openStartSlaveDialog();">StartSlave</button>
        <button md-raised-button (click)="openStopSlaveDialog();">StopSlave</button>
        <button md-raised-button (click)="openRunHealthCheckDialog();">RunHealthCheck</button>
        <button md-raised-button (click)="openIgnoreHealthErrorDialog();">IgnoreHealthError</button>
        <button md-raised-button (click)="openReparentTabletDialog();">ReparentTablet</button>
      </p-accordionTab>
    </p-accordion>
  </div>
  <a [href]="tabletUrl"><button md-raised-button>Go to Tablet</button></a>
  <p-dialog [(header)]="dialogSettings.dialogTitle" [(visible)]="dialogSettings.open" draggable="" resizable="" width="800">
    <vt-dialog [(dialogContent)]="dialogContent" [(dialogSettings)]="dialogSettings"></vt-dialog>
  </p-dialog>
  <div *ngIf="dialogSettings.open" class="vt-popUpContainer" >
  </div>
<div>
