<md-content class="md-padding">

<md-tabs md-border-bottom md-center-tabs="false">
  <md-tab label="Apply Schema">

  <md-select placeholder="Select Keyspace" ng-model="schemaChange.Keyspace">
    <md-option ng-repeat="keyspace in keyspaces" value="{{keyspace}}">{{keyspace}}</md-option>
  </md-select>

  <md-input-container flex>
    <label>Schema Change SQL</label>
    <textarea ng-model="schemaChange.SQL" class="code"></textarea>
  </md-input-container>

  <md-button class="md-primary" ng-click="submitSchema($event)">Submit</md-button>

  </md-tab>
</md-tabs>

</md-content>
