.vt-form-member{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d3d3d3;
}
.vt-cell-left { 
  display: inline-block;
  vertical-align: top;
  width: 59% !important;
}

.vt-cell-right { 
  display: inline-block;
  padding-bottom: 1%;
  width: 39% !important;
}

.checkbox-wrapper {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.vt-form{
  padding: 0;
  margin: 0;
  width: 100%;
  display: table; 
  border-collapse:separate;
  border-spacing:1em 0.5em;
}

.vt-sheet {
  display: inline-block;
  margin: 5px 10px 5px 0px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background-color: #EEEEEE;
}

.vt-log-frame {
  max-height: 200px;
  overflow:auto;
  width: 100%;
}

>>> md-input {
  width: 100%;
}

.vt-action-container {
  margin-top: 20px;
  float: right;
}