.vt-form-member{
  display: table-row;
  width: 100%;
}

paper-item { 
  display: table-cell; 
  position: relative;
  padding-bottom: 1%;
  vertical-align:bottom;
  width: 60%;
}

paper-input { 
  display: table-cell;
  width: 40%;
}

.checkbox-wrapper {
  display: table-cell;
  width: 40%;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.vt-form{
  padding: 0;
  display: table; 
  border-collapse:separate;
  border-spacing:1em 0.5em;
}

.vt-sheet {
  display: inline-block;
  margin: 5px 10px 5px 0px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background-color: #EEEEEE;
}

p-dropdown {
  display: table-cell; 
  position: relative;
  padding-bottom: 1%;
  vertical-align:bottom;
  width: 60%;
}

>>> .ui-dropdown {
  width: 80% !important;
  display: inline-block !important;
}