<div *ngIf="dialogSettings.dialogForm">
  <h4 class="vt-padding" *ngIf="dialogSettings.dialogSubtitle">{{dialogSettings.dialogSubtitle}}</h4>
  <span #vtFormWrapper>
    <div class="vt-form" >
      <div *ngFor="let flag of dialogContent.getFlags()">
        <div  *ngIf="dialogContent.canDisplay(flag.id)" class="vt-form-member">
          <div class="vt-cell"><strong>{{flag.name}}</strong>: {{flag.description}}</div>
          <div class="vt-cell">
            <md-input *ngIf="flag.type=='input'" [(ngModel)]="flag.value" [required]="dialogContent.isRequired(flag.id)" placeholder="{{flag.name}}"></md-input>
            <div  *ngIf="flag.type == 'checkBox'" class="checkbox-wrapper">
              <md-checkbox class="md-primary" [(ngModel)]="flag.value" ></md-checkbox> 
            </div> 
            <p-dropdown *ngIf="flag.type == 'dropDown'" [options]="flag.getOptions()" [(ngModel)]="flag.value"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </span>
  <ng-content select="extra-content"></ng-content>
  <div class="vt-actions-container">
    <button md-button disableRipple="true" (click)="cancelDialog();">Cancel</button>
    <button md-button disableRipple="true" [disabled]="!dialogContent.canSubmit()" (click)="sendAction();">{{dialogSettings.actionWord}}</button>
  </div>
</div>
<div class="vt-padding" *ngIf="dialogSettings.dialogLog">
  <div >
    <div *ngIf="!dialogSettings.pending">
      <div>
        {{dialogContent.interpolateMessage(dialogSettings.respText)}}
      </div>
      <h4>Log:</h4>
      <div>
        <pre>
        {{dialogSettings.logText}}
        </pre>
      </div>
    </div>
    <div *ngIf="dialogSettings.pending">
      Loading Response...
      <md-progress-bar mode="indeterminate"></md-progress-bar>
    </div>
  </div>
  <div class="buttons">
    <button md-button disableRipple="true" [disabled]="dialogSettings.pending" (click)="closeDialog()">Dismiss</button>
  </div>
</div>
