<div *ngIf="dialogSettings.dialogForm">
  <h4 class="vt-padding" *ngIf="dialogSettings.dialogSubtitle">{{dialogSettings.dialogSubtitle}}</h4>
  <span #vtFormWrapper>
    <div class="vt-padding">
      <div *ngFor="let flag of dialogContent.getFlags()">
        <div  *ngIf="dialogContent.canDisplay(flag.id)" class="vt-form-member">
          <div class="vt-cell-left">
            <div>
              <strong>{{flag.name}}<span *ngIf="dialogContent.isRequired(flag.id)"> (Required)</span>:</strong>
            </div>
            <div>
              {{flag.description}}
            </div>
          </div>
          <div class="vt-cell-right">
            <md-input *ngIf="flag.type=='input'" [(ngModel)]="flag.value" [required]="dialogContent.isRequired(flag.id)" placeholder="{{flag.name}}"></md-input>
            <div  *ngIf="flag.type == 'checkBox'" class="checkbox-wrapper">
              <md-checkbox class="md-primary" [(ngModel)]="flag.value" ></md-checkbox>
            </div>
            <p-dropdown *ngIf="flag.type == 'dropDown'" [options]="flag.getOptions()" [(ngModel)]="flag.value"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </span>
  <div *ngIf="dialogContent.canSubmit()" class="vt-padding">
    <h3>Command:</h3>
    <div class="vt-sheet" *ngFor="let cmd of getCmd()">
      {{cmd}}
    </div>
  </div>
  <div class="vt-padding vt-action-container">
    <button md-button disableRipple="true" id="vt-action" [disabled]="!dialogContent.canSubmit()" (click)="sendAction();">{{dialogSettings.actionWord}}</button>
    <button md-button disableRipple="true" id="vt-cancel" (click)="cancelDialog();">Cancel</button>
  </div>
</div>
<div class="vt-padding" *ngIf="dialogSettings.dialogLog">
  <div *ngIf="!dialogSettings.pending">
    <div class="vt-resp">
      {{dialogContent.interpolateMessage(dialogSettings.respText)}}
    </div>
    <h4 *ngIf="dialogSettings.logText">Log:</h4>
    <div class="vt-sheet vt-log-frame" *ngIf="dialogSettings.logText">
      <pre>{{dialogSettings.logText}}</pre>
    </div>
  </div>
  <div *ngIf="dialogSettings.pending">
    Loading Response...
    <md-progress-bar mode="indeterminate"></md-progress-bar>
  </div>
  <div class="buttons">
    <button md-button disableRipple="true" id="vt-dismiss" [disabled]="dialogSettings.pending" (click)="closeDialog()">Dismiss</button>
  </div>
</div>
