[mysqld]
# Global configuration that is auto-included for all MySQL/MariaDB versions

datadir = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/data
innodb_data_home_dir = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/innodb/data
innodb_log_group_home_dir = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/innodb/logs
log-error = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/error.log
log-bin = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/bin-logs/vt-0000000100-bin
relay-log = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/relay-logs/vt-0000000100-relay-bin
relay-log-index =  /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/relay-logs/vt-0000000100-relay-bin.index
pid-file = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/mysql.pid
port = 17100


secure-file-priv = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/tmp


# all db instances should start in read-only mode - once the db is started and
# fully functional, we'll push it into read-write mode
read-only
server-id = 1959326619

# all db instances should skip starting replication threads - that way we can do any
# additional configuration (like enabling semi-sync) before we connect to
# the source.
skip_slave_start
socket = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/mysql.sock
tmpdir = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/tmp

slow-query-log-file = /Users/francesthai/planetscale/vitess/examples/local/vtdataroot/vt_0000000100/slow-query.log

# These are sensible defaults that apply to all MySQL/MariaDB versions

long_query_time = 2
slow-query-log
skip-name-resolve
connect_timeout = 30
innodb_lock_wait_timeout = 20
max_allowed_packet = 64M
max_connections = 500


# This file is auto-included when MySQL 5.7 is detected.

# MySQL 5.7 does not enable the binary log by default, and 
# info repositories default to file

gtid_mode = ON
log_slave_updates
enforce_gtid_consistency
expire_logs_days = 3
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_purge = 1
relay_log_recovery = 1

# In MySQL 5.7 the default charset is latin1

character_set_server = utf8
collation_server = utf8_general_ci

# Semi-sync replication is required for automated unplanned failover
# (when the primary goes away). Here we just load the plugin so it's
# available if desired, but it's disabled at startup.
#
# If the -enable_semi_sync flag is used, VTTablet will enable semi-sync
# at the proper time when replication is set up, or when a primary is
# promoted or demoted.
plugin-load = rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so

# When semi-sync is enabled, don't allow fallback to async
# if you get no ack, or have no replicas. This is necessary to
# prevent alternate futures when doing a failover in response to
# a primary that becomes unresponsive.
rpl_semi_sync_master_timeout = 1000000000000000000
rpl_semi_sync_master_wait_no_slave = 1

