<div class="col-md-3">
  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>Column</th>
        <th>Vindex</th>
      </tr>
    </thead>
    <tbody data-ng-repeat="(className, klass) in keyspace.Classes">
      <tr data-ng-show="!klass.length || klass.length == 0">
        <td><a href="#/editor/{{keyspaceName}}/class/{{className}}">{{className}}</a></td>
        <td></td>
        <td></td>
        <td><a type="button" class="btn btn-xs"> <span
            class="glyphicon glyphicon-remove"></span>
        </a></td>
      </tr>
      <tr data-ng-repeat="colVindex in klass">
        <td data-ng-show="$first" rowspan="{{klass.length}}"><a
          href="#/editor/{{keyspaceName}}/class/{{className}}">{{className}}</a>
        </td>
        <td>{{colVindex.Col}}</td>
        <td>
          <div data-ng-class="{'alert-danger': vindexHasError(className, $index)}"
          title="{{vindexHasError(className, $index)}}">
            {{colVindex.Name}}</div>
        </td>
        <td data-ng-show="$first" rowspan="{{klass.length}}"><a
          type="button" class="btn btn-xs"
          data-ng-click="deleteClass(className)"> <span
            class="glyphicon glyphicon-remove"></span>
        </a></td>
      </tr>
      <tr data-ng-show="$last">
        <td colspan="2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Class"
              data-ng-model="classesEditor.newClassName"> <span
              class="input-group-btn"><button class="btn" type="button"
                data-ng-click="addClass(classesEditor.newClassName)">
                <span class="glyphicon glyphicon-plus"></span>
              </button> </span>
          </div>
        </td>
      </tr>
      <tr data-ng-show="$last && classesEditor.err">
        <td colspan="2">
          <div class="alert alert-danger" data-ng-show="classesEditor.err">
            {{classesEditor.err}}<a type="button"
              class="alert-danger pull-right"
              data-ng-click="clearClassesError()"> <span
              class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>