<div class="col-md-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Class</th>
        <th>Column</th>
        <th>Vindex</th>
      </tr>
    </thead>
    <tbody data-ng-repeat="(className, klass) in keyspace.Classes">
      <tr data-ng-show="!klass.length || klass.length == 0">
        <td>{{className}}</td>
      </tr>
      <tr data-ng-repeat="colVindex in klass">
        <td data-ng-show="$first" rowspan="{{klass.length}}">{{className}}<br>
          <a type="button" class="btn btn-xs btn-primary" title="Edit class"
          href="#/editor/{{keyspaceName}}/class/{{className}}"> <span
            class="glyphicon glyphicon-pencil"></span>
        </a>
          <button type="button" class="btn btn-xs btn-primary"
            title="Delete class">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
        <td>{{colVindex.Col}}</td>
        <td>
          <div class="dropdown">
            <div
              data-ng-class="{'list-group-item-danger': !isVindexValid(colVindex.Name)}">
              {{colVindex.Name}}</div>
          </div>
        </td>
      </tr>
      <tr data-ng-show="$last">
        <td colspan="2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Class"
              data-ng-model="newClassName"> <span
              class="input-group-btn"> <a
              class="btn btn-default btn-primary" type="button"
              data-ng-disabled="!newClassName"
              data-ng-click="addClass(newClassName)"
              href="#/editor/{{keyspaceName}}/class/{{newClassName}}"><span
                class="glyphicon glyphicon-plus"></span> Add</a>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>