<div class="col-md-2">
  <table class="table">
    <thead>
      <tr>
        <th>Table</th>
        <th>Class</th>
      </tr>
    </thead>
    <tr data-ng-repeat="(tableName, tableClass) in keyspace.Tables">
      <td>{{tableName}}<br>
      </td>
      <td>
        <div class="dropdown">
          <button
            data-ng-class="{'btn dropdown-toggle form-control': true, 'btn-danger': !isClassValid(tableClass)}"
            type="button" data-toggle="dropdown">
            {{tableClass}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-ng-repeat="(className, klass) in keyspace.Classes"
              data-ng-click="setTableClass(tableName, className)"><a
              href="#/editor/{{keyspaceName}}">{{className}}</a></li>
          </ul>
        </div>
      </td>
      <td><a type="button" class="btn btn-xs" data-ng-click="deleteTable(tableName)">
          <span class="glyphicon glyphicon-remove"></span>
        </a></td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Table"
            data-ng-model="tableEditor.newTableName">
          <div class="input-group-btn">
            <button class="btn dropdown-toggle" type="button"
              data-toggle="dropdown">
              {{tableClass}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li data-ng-repeat="(className, klass) in keyspace.Classes"
                data-ng-click="addTable(tableEditor.newTableName, className)"><a
                href="#/editor/{{keyspaceName}}">{{className}}</a></li>
            </ul>
          </div>
        </div>
        <div class="alert alert-danger" data-ng-show="tableEditor.err">
          {{tableEditor.err}}<a type="button" class="alert-danger pull-right"
            data-ng-click="clearTableError()"> <span
            class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </td>
    </tr>
  </table>
</div>