
<div class="col-md-5">
  <table class="table">
    <thead>
      <tr>
        <th>Vindex</th>
        <th>Type</th>
        <th>Owner</th>
        <th>Params</th>
      </tr>
    </thead>
    <tr>
    <tr data-ng-repeat="(vindexName, vindex) in keyspace.Vindexes">
      <td>{{vindexName}}</td>
      <td>
        <div class="dropdown">
          <button class="btn dropdown-toggle form-control" type="button"
            data-toggle="dropdown">
            {{vindex.Type}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-ng-repeat="vindexType in vindexTypes"
              data-ng-click="setVindexType(vindex, vindexType)"><a
              href="#/editor/{{keyspaceName}}">{{vindexType}}</a></li>
          </ul>
        </div>
      </td>
      <td>{{vindex.Owner}}</td>
      <td><table class="table-condensed table-bordered">
          <tr data-ng-repeat="(paramName, paramValue) in vindex.Params">
            <td>{{paramName}}</td>
            <td>{{paramValue}}</td>
          </tr>
        </table></td>
      <td><a type="button" class="btn btn-xs"> <span
          class="glyphicon glyphicon-remove"></span>
      </a></td>

    </tr>
  </table>
</div>