
<div class="col-md-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vindex</th>
        <th>Type</th>
        <th>Owner</th>
        <th>Params</th>
      </tr>
    </thead>
    <tr>
    <tr data-ng-repeat="(vindexName, vindex) in keyspace.Vindexes">
      <td>{{vindexName}}<br> <a type="button"
        class="btn btn-xs btn-primary" title="Edit class"
        href="#/editor/{{keyspaceName}}/class/{{className}}"> <span
          class="glyphicon glyphicon-pencil"></span>
      </a>
        <button type="button" class="btn btn-xs btn-primary"
          title="Delete class">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn dropdown-toggle col-md-12" type="button"
            data-toggle="dropdown">
            {{vindex.Type}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-ng-repeat="vindexType in vindexTypes"
              data-ng-click="setVindexType(vindex, vindexType)"><a
              href="#/editor/{{keyspaceName}}">{{vindexType}}</a></li>
          </ul>
        </div>
      </td>
      <td>{{vindex.Owner}}</td>
      <td><table class="table-condensed table-bordered">
          <tr data-ng-repeat="(paramName, paramValue) in vindex.Params">
            <td>{{paramName}}</td>
            <td>{{paramValue}}</td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>