tickTime=2000
dataDir={{.DataDir}}
clientPort={{.ClientPort}}
initLimit=5
syncLimit=2
maxClientCnxns=0
# enable commands like ruok by default
4lw.commands.whitelist=*
{{range .Servers}}
server.{{.ServerId}}={{.Hostname}}:{{.LeaderPort}}:{{.ElectionPort}}
{{end}}
