<div *ngIf="isMaster()" class="vt-toolbar vt-padding">
  <h1 class="vt-title">{{title}}</h1>
  <md-icon class="vt-right-menu" (click)="openNewDialog()">add</md-icon>
</div>
<div *ngIf="!isMaster()" class="vt-toolbar vt-padding">
  <h1 class="vt-title">Go to <a href="{{redirect}}">Master</a></h1>
</div>
<div>
  <span *ngFor="let workflow of workflows; let i = index">
    <vt-workflow [workflow]="workflows[i]" [workflowListComponent]="this"></vt-workflow>
  </span>
</div>
<p-dialog [(header)]="dialogSettings.dialogTitle" [(visible)]="dialogSettings.open" draggable="" resizable="" width="800">
  <vt-dialog [(dialogContent)]="dialogContent" [(dialogSettings)]="dialogSettings"></vt-dialog>
</p-dialog>
<div *ngIf="dialogSettings.open" class="vt-popUpContainer" >
</div>
