<div class="fill-lower-space">
  <div class="wq-title">
    <h1>Workflows</h1>
  </div>
  <!--<p-accordion *ngFor="let workflow of workflows; let i = index">
    <span >
      <p-accordionTab header="">
        <header class="vt-pad-header  {{getHeaderClass(workflow.state)}}">
          <div class="vt-accordion-header vt-accordion-name-wrapper">
              <span class="vt-accordion-name">
                <md-icon *ngIf="workflow.isDone()">check</md-icon>
                <md-icon *ngIf="workflow.isRunning()">forward</md-icon>
                <md-icon *ngIf="workflow.isNotStarted()">remove</md-icon>
                {{workflow.name}}
              </span>
            </div>
            <div class="vt-accordion-header vt-progress-bar-wrapper">
              <md-progress-bar class="vt-progress-bar" *ngIf="workflow.isDeterminate()" mode="determinate" [value]="workflow.progress" color="primary"></md-progress-bar>
              <md-progress-bar class="vt-accordion-header vt-progress-bar" *ngIf="workflow.isIndeterminate()" mode="indeterminate" color="primary"></md-progress-bar>
            </div>
            <div class="vt-accordion-header vt-progress-msg-wrapper" *ngIf="workflow.isDeterminate() || workflow.isIndeterminate()" >
              <span class="vt-progress-msg">
                {{workflow.progressMsg}}
              </span>
            </div>
        </header>
        <vt-workflow [(workflow)]="workflows[i]"></vt-workflow>
      </p-accordionTab>
    </span>
  </p-accordion>-->
  <span *ngFor="let workflow of workflows; let i = index">
    <vt-workflow [(workflow)]="workflows[i]"></vt-workflow>
  </span>
</div>