.vt-workflow-not-started {
  background-color: #ffffff;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
}

.vt-workflow-running {
  background-color: #ffffff;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
}

.vt-workflow-done {
  background-color: #ffffff;
  
}

.vt-workflow-padding {
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 7px;
  margin: 0;
}

.vt-workflow {
  
}

.vt-workflow-content {
}

.vt-workflow-time {

  color: grey;
}

.vt-action-enabled {
}
.vt-action-disabled {
  background-color: grey;
}
.vt-action-warning {
  background-color: #f44336;
}
.vt-action-waiting {
  background-color: #3F51B5;
}

.vt-accordion-header {
  display: inline-block;
}






.vt-msg {
  padding-bottom: 5px;
  padding-left: 25px;
}

.vt-fill-button {
  width: 100%;
}

>>> vt-workflow header md-icon {
  transform: translate(0px, 6px);
}

/* Rules for workflow header */
>>> vt-workflow header {
  white-space: nowrap;
  overflow: hidden;
}

>>> vt-workflow .ui-accordion .ui-accordion-header {
  background-color: #EEEEEE;
  background: #EEEEEE !important;
  border: none;
}

.vt-pad-header {
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #EEEEEE;
}

.vt-accordion-name-wrapper {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-accordion-name {
  padding-left: 28px
}

.vt-progress-bar-wrapper {
  width: 60%;
}

.vt-progress-bar {
  padding-bottom: 3px;
  transform: translate(0px,-4px);
}

.vt-progress-msg-wrapper {
  width: 18%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-progress-msg {
  padding-left: 10px;
  padding-top: 1px;
}

/* Rules for workflow content*/
>>> .ui-accordion-content {
  padding: 0 !important;
  border-left: 2px solid #009688;
  border-bottom: 2px solid #009688;
  background-color: #ffffff;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
}

/* Rules for workflow log */
>>> vt-workflow .vt-log .ui-accordion .ui-accordion-header{
  background-color: #E0F2F1;
  background: #E0F2F1 !important;
  border: none;
}

>>> vt-workflow .vt-log .vt-pad-header{
  background-color: #E0F2F1;
}