/* Rules for workflow header */
>>> vt-workflow header {
  white-space: nowrap;
  overflow: hidden;
}

>>> vt-workflow header md-icon {
  transform: translate(0px, 6px);
}

>>> vt-workflow .vt-workflow-running > .ui-accordion-header{
  background: #D8D8D8 !important;
}

>>> vt-workflow .vt-workflow-not-started > .ui-accordion-header{
  background: #EEEEEE !important;
}

>>> vt-workflow .vt-workflow-done > .ui-accordion-header{
  background: #EEEEEE !important;
}

.vt-accordion-name-wrapper {
  display: inline-block;
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-accordion-name {
  padding-left: 28px
}

.vt-progress-bar-wrapper {
  display: inline-block;
  width: 50%;
}

.vt-progress-bar {
  padding-bottom: 3px;
  transform: translate(0px,-4px);
}

.vt-progress-msg-wrapper {
  display: inline-block;
  width: 18%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vt-progress-msg {
  padding-left: 10px;
  padding-top: 1px;
}

.vt-workflow-action-wrapper {
  display: inline-block;
  width: 10%;
}

.vt-workflow-action {
}

/* Rules for workflow content */
>>> .ui-accordion-content {
  padding: 0 !important;
  border: none;
  background-color: #ffffff;
  margin: 0;
}

/* Rules for workflow buttons */
.vt-actions {
  padding-bottom: 5px;
  padding-left: 30px;
}
.vt-action-enabled {}

.vt-action-disabled {
  background-color: grey;
}

.vt-action-warning {
  background-color: #f44336;
}

.vt-action-waiting {
  background-color: #3F51B5;
}

/* Rules for workflow log */
.vt-log-text {
  max-height: 100px;
  white-space: pre-wrap;
}
>>> vt-workflow .vt-log .ui-accordion-header{
  background-color: #E0F2F1;
  background: #E0F2F1 !important;
  border: none;
}

>>> vt-workflow .vt-log .vt-pad-header{
  background-color: #E0F2F1;
  padding: 0;
}

/* Rules for Time */
.vt-workflow-time {
  padding-bottom: 5px;
  padding-left: 30px;
  color: grey;
}

/* Rules for Message */
.vt-msg {
  padding-bottom: 5px;
  padding-left: 30px;
}

/* Padding for child workflows*/
.vt-workflow-padding {
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 7px;
  min-width: 500px;
  margin: 0;
}
