name: check_make_vtadmin_authz_testgen
on: [push, pull_request]

permissions: read-all
env:
  GOPRIVATE: github.com/slackhq/vitess-addons
  GH_ACCESS_TOKEN: "${{ secrets.GH_ACCESS_TOKEN }}"
jobs:
  build:
    name: Check Make vtadmin_authz_testgen
    runs-on: ubuntu-latest
    steps:
    - name: Skip CI
      run: |
        if [[ "${{contains( github.event.pull_request.labels.*.name, 'Skip CI')}}" == "true" ]]; then
          echo "skipping CI due to the 'Skip CI' label"
          exit 1
        fi

    - name: Check if workflow needs to be skipped
      id: skip-workflow
      run: |
        skip='false'
        echo Skip ${skip}
        echo "skip-workflow=${skip}" >> $GITHUB_OUTPUT

    - name: Check out code
      if: steps.skip-workflow.outputs.skip-workflow == 'false'
      uses: actions/checkout@v4

    - name: Check for changes in relevant files
      if: steps.skip-workflow.outputs.skip-workflow == 'false'
      uses: dorny/paths-filter@v3.0.1
      id: changes
      with:
        token: ''
        filters: |
          vtadmin_changes:
            - 'bootstrap.sh'
            - 'tools/**'
            - 'build.env'
            - 'go.sum'
            - 'go.mod'
            - 'Makefile'
            - 'go/vt/vtadmin/**'
            - '.github/workflows/check_make_vtadmin_authz_testgen.yml'

    - name: Set up Go
      uses: actions/setup-go@v5
      if: steps.skip-workflow.outputs.skip-workflow == 'false' && steps.changes.outputs.vtadmin_changes == 'true'
      with:
        go-version: 1.22.8

    - name: Setup github.com/slackhq/vitess-addons access token
      if: steps.skip-workflow.outputs.skip-workflow == 'false' && steps.changes.outputs.vtadmin_changes == 'true'
      run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/

    - name: Tune the OS
      if: steps.skip-workflow.outputs.skip-workflow == 'false' && steps.changes.outputs.vtadmin_changes == 'true'
      run: |
        sudo sysctl -w net.ipv4.ip_local_port_range="22768 65535"

    - name: Get dependencies
      if: steps.skip-workflow.outputs.skip-workflow == 'false' && steps.changes.outputs.vtadmin_changes == 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y make unzip g++ etcd-client etcd-server curl git wget
        sudo service etcd stop
        go mod download
        go install golang.org/x/tools/cmd/goimports@latest

    - name: Run make minimaltools
      if: steps.skip-workflow.outputs.skip-workflow == 'false' && steps.changes.outputs.vtadmin_changes == 'true'
      run: |
        make minimaltools

    - name: check_make_vtadmin_authz_testgen
      if: steps.skip-workflow.outputs.skip-workflow == 'false' && steps.changes.outputs.vtadmin_changes == 'true'
      run: |
        tools/check_make_vtadmin_authz_testgen.sh
