name: check_imports
on: [pull_request,push]
jobs:
  build:
    name: Check Imports
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Check for changes in Go files
      uses: frouioui/paths-filter@master
      id: changes
      with:
        token: ''
        filters: |
          go_files:
            - '**/*.go'
            - '*.go'
            - 'go.[sumod]'

    - name: Set up Go
      if: steps.changes.outputs.go_files == 'true'
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.1

    - name: Install goimports
      if: steps.changes.outputs.go_files == 'true'
      run: |
        go install golang.org/x/tools/cmd/goimports@latest

    - name: Run goimports
      if: steps.changes.outputs.go_files == 'true'
      run: |
        out=$(goimports -local vitess.io/vitess -l -w $(find . -name "*.go" | grep -v ".pb.go"))
        echo $out | grep go > /dev/null && echo -e "The following files are malformatted:\n$out" && exit 1 || echo "All the files are formatted correctly"
