name: check_formatting
on: [pull_request,push]
jobs:
  build:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Check for changes in Go files
      uses: dorny/paths-filter@v2
      id: changes
      with:
        token: ${{ github.token }}
        filters: |
          go_files:
            - '**/*.go'
            - '*.go'
            - 'go.[sumod]'

    - name: Set up Go
      if: steps.changes.outputs.go_files == 'true'
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.1

    - name: Tune the OS
      if: steps.changes.outputs.go_files == 'true'
      run: |
        echo '1024 65535' | sudo tee -a /proc/sys/net/ipv4/ip_local_port_range

    # TEMPORARY WHILE GITHUB FIXES THIS https://github.com/actions/virtual-environments/issues/3185
    - name: Add the current IP address, long hostname and short hostname record to /etc/hosts file
      if: steps.changes.outputs.go_files == 'true'
      run: |
        echo -e "$(ip addr show eth0 | grep "inet\b" | awk '{print $2}' | cut -d/ -f1)\t$(hostname -f) $(hostname -s)" | sudo tee -a /etc/hosts
    # DON'T FORGET TO REMOVE CODE ABOVE WHEN ISSUE IS ADRESSED!

    - name: Run go fmt
      if: steps.changes.outputs.go_files == 'true'
      run: |
        gofmt -l . | grep -vF vendor/ && exit 1 || echo "All files formatted correctly"
