name: cluster_initial_sharding_multi
on: [push, pull_request]
jobs:

  build:
    name: cluster initial sharding multi
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.15

    - name: Check out code
      uses: actions/checkout@v2

    - name: Run initial sharding multi
      run: |
        go run test.go -print-log initial_sharding_multi
