name: cluster_sharding_endtoend
on: [push, pull_request]
jobs:

  build:
    name: Cluster End-to-End shard 10
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Check out code
        uses: actions/checkout@v1

      - name: Get dependencies
        run: |
          sudo apt-get update || echo "update failed"
          sudo apt-get install -y mysql-server mysql-client make unzip g++ etcd curl git wget
          sudo service mysql stop
          sudo service etcd stop
          sudo ln -s /etc/apparmor.d/usr.sbin.mysqld /etc/apparmor.d/disable/
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
          go mod download

      - name: Run make minimaltools
        run: |
          make minimaltools

      - name: cluster_endtoend_shard_10
        run: |
          go run test.go -docker -use_docker_cache -print-log -shard 10