name: Code Coverage
on:
  push:
    branches:
      - "main"
      - "release-[0-9]+.[0-9]"
    tags: '**'
  pull_request:
    branches: '**'
concurrency:
  group: format('{0}-{1}', ${{ github.ref }}, 'Code Coverage')
  cancel-in-progress: true

permissions: read-all

jobs:
  test:
    name: Code Coverage
    runs-on: oracle-vm-8cpu-32gb-x86-64

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - name: Check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: 'false'

    - name: Check for changes in files relevant to code coverage
      uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
      id: changes
      with:
        token: ''
        filters: |
          changed_files:
            - .github/workflows/codecov.yml
            - 'go/**'
            - go.mod
            - go.sum
            - Makefile

    - name: Set up Go
      if: steps.changes.outputs.changed_files == 'true'
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod

    - name: Set up python
      if: steps.changes.outputs.changed_files == 'true'
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

    - name: Tune the OS
      if: steps.changes.outputs.changed_files == 'true'
      uses: ./.github/actions/tune-os

    - name: Setup MySQL
      if: steps.changes.outputs.changed_files == 'true'
      uses: ./.github/actions/setup-mysql
      with:
        flavor: mysql-8.4

    - name: Get dependencies
      if: steps.changes.outputs.changed_files == 'true'
      run: |
        export DEBIAN_FRONTEND="noninteractive"
        sudo apt-get update

        sudo apt-get install -y make unzip g++ curl git wget

        go mod download
        go install golang.org/x/tools/cmd/goimports@034e59c473362f8f2be47694d98fd3f12a1ad497 # v0.39.0

    - name: Run make tools
      if: steps.changes.outputs.changed_files == 'true'
      run: |
        make BUILD_JAVA=0 BUILD_PROTOC=0 tools

    - name: Run unit tests and generate code coverage reports
      if: steps.changes.outputs.changed_files == 'true'
      timeout-minutes: 45
      run: |
        set -exo pipefail
        # We set the VTDATAROOT to the /tmp folder to reduce the file path of mysql.sock file
        # which musn't be more than 107 characters long.
        export VTDATAROOT="/tmp/"

        export NOVTADMINBUILD=1

        # Exclude endtoend tests from the coverage report.
        # TODO: figure out how best to include our endtoend tests in the coverage report.
        rm -rf go/test/endtoend go/*/endtoend go/vt/*/endtoend go/cmd/vttestserver

        make unit_test_cover

        # Restore the files we deleted as codecov tries to fix their paths.
        git reset --hard HEAD

    - name: Upload coverage reports to codecov.io
      if: steps.changes.outputs.changed_files == 'true'
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # https://github.com/codecov/codecov-action/releases/tag/v5.5.2
      with:
        fail_ci_if_error: true
        verbose: true
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
