name: Code Coverage
on:
  push:
    branches:
      - "main"
      - "release-[0-9]+.[0-9]"
    tags: '**'
  pull_request:
    branches: '**'
concurrency:
  group: format('{0}-{1}', ${{ github.ref }}, 'Code Coverage')
  cancel-in-progress: true

permissions: read-all

jobs:
  test:
    name: Code Coverage
    runs-on: oracle-vm-8cpu-32gb-x86-64

    steps:
    - name: Check out code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: 'false'

    - name: Check for changes in files relevant to code coverage
      uses: dorny/paths-filter@ebc4d7e9ebcb0b1eb21480bb8f43113e996ac77a # v3.0.1
      id: changes
      with:
        token: ''
        filters: |
          changed_files:
            - .github/workflows/codecov.yml
            - 'go/**'
            - go.mod
            - go.sum
            - Makefile

    - name: Set up Go
      if: steps.changes.outputs.changed_files == 'true'
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version-file: go.mod

    - name: Set up python
      if: steps.changes.outputs.changed_files == 'true'
      uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1

    - name: Tune the OS
      if: steps.changes.outputs.changed_files == 'true'
      uses: ./.github/actions/tune-os

    - name: Setup MySQL
      if: steps.changes.outputs.changed_files == 'true'
      uses: ./.github/actions/setup-mysql
      with:
        flavor: mysql-8.4

    - name: Get dependencies
      if: steps.changes.outputs.changed_files == 'true'
      run: |
        export DEBIAN_FRONTEND="noninteractive"
        sudo apt-get update

        sudo apt-get install -y make unzip g++ curl git wget ant openjdk-11-jdk

        mkdir -p dist bin
        curl --max-time 10 --retry 3 --retry-max-time 45 -s -L https://github.com/coreos/etcd/releases/download/v3.5.25/etcd-v3.5.25-linux-amd64.tar.gz | tar -zxC dist
        mv dist/etcd-v3.5.25-linux-amd64/{etcd,etcdctl} bin/

        go mod download
        go install golang.org/x/tools/cmd/goimports@034e59c473362f8f2be47694d98fd3f12a1ad497 # v0.39.0
        
    - name: Run make tools
      if: steps.changes.outputs.changed_files == 'true'
      run: |
        make tools

    - name: Run unit tests and generate code coverage reports
      if: steps.changes.outputs.changed_files == 'true'
      timeout-minutes: 45
      run: |
        set -exo pipefail
        # We set the VTDATAROOT to the /tmp folder to reduce the file path of mysql.sock file
        # which musn't be more than 107 characters long.
        export VTDATAROOT="/tmp/"

        export NOVTADMINBUILD=1

        # Exclude endtoend tests from the coverage report.
        # TODO: figure out how best to include our endtoend tests in the coverage report.
        rm -rf go/test/endtoend go/*/endtoend go/vt/*/endtoend go/cmd/vttestserver

        make unit_test_cover

        # Restore the files we deleted as codecov tries to fix their paths.
        git reset --hard HEAD

    - name: Upload coverage reports to codecov.io
      if: steps.changes.outputs.changed_files == 'true'
      uses: codecov/codecov-action@015f24e6818733317a2da2edd6290ab26238649a # https://github.com/codecov/codecov-action/releases/tag/v5.0.7
      with:
        fail_ci_if_error: true
        verbose: true
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
