# This creates a {tar.gz,deb,rpm} file and uploads it to a release.
# To trigger this, create a new release.. but make sure that you publish
# it immediately and do not save it as a DRAFT.

name: Release
on:
  release:
    types: [created]
  pull_request: # So it can run on this PR

permissions: read-all

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Check out code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
        ref: v21.0.0-rc1 # Explicit checkout to v21.0.0-rc1

    - name: Set up Go
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      with:
        go-version-file: go.mod

    - name: Tune the OS
      run: |
        sudo sysctl -w net.ipv4.ip_local_port_range="22768 65535"

    - name: Get dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make ruby ruby-dev
        go mod download
        sudo gem install fpm

    - name: Make Packages
      run: |
        ./tools/make-release-packages.sh

    - name: Upload Files
      uses: csexton/release-asset-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pattern: "releases/*.{tar.gz,rpm,deb}"
        release-url: https://uploads.github.com/repos/vitessio/vitess/releases/179932186/assets{?name,label} # Adding this line will update this release directly and not depend on the workflow to ran from a 'release' event
