# This creates a {tar.gz,deb,rpm} file and uploads it to a release.
# To trigger this, create a new release.. but make sure that you publish
# it immediately and do not save it as a DRAFT.

name: Release
on:
  release:
    types: [created]

permissions: read-all

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:

    - name: Set up Go
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      with:
        go-version: 1.23.0

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: '20.12.2'

    - name: Tune the OS
      run: |
        sudo sysctl -w net.ipv4.ip_local_port_range="22768 65535"

    - name: Check out code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Get dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make ruby ruby-dev
        go mod download
        sudo gem install fpm

    - name: Make Packages
      run: |
        ./tools/make-release-packages.sh

    - name: Upload Files
      uses: csexton/release-asset-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        pattern: "releases/*.{tar.gz,rpm,deb}"
