name: golangci-lint
on: [push, pull_request]
jobs:
  build:
    name: Lint using golangci-lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Check for changes in Go files
      uses: frouioui/paths-filter@master
      id: changes
      with:
        token: ''
        filters: |
          go_files:
            - '**/*.go'
            - '*.go'
            - 'go.[sumod]'

    - name: Set up Go
      if: steps.changes.outputs.go_files == 'true'
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.1
      id: go

    - name: Tune the OS
      if: steps.changes.outputs.go_files == 'true'
      run: |
        echo '1024 65535' | sudo tee -a /proc/sys/net/ipv4/ip_local_port_range

    # TEMPORARY WHILE GITHUB FIXES THIS https://github.com/actions/virtual-environments/issues/3185
    - name: Add the current IP address, long hostname and short hostname record to /etc/hosts file
      if: steps.changes.outputs.go_files == 'true'
      run: |
        echo -e "$(ip addr show eth0 | grep "inet\b" | awk '{print $2}' | cut -d/ -f1)\t$(hostname -f) $(hostname -s)" | sudo tee -a /etc/hosts
    # DON'T FORGET TO REMOVE CODE ABOVE WHEN ISSUE IS ADRESSED!

    - name: Install golangci-lint
      if: steps.changes.outputs.go_files == 'true'
      run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.45.2

    - name: Clean Env
      if: steps.changes.outputs.go_files == 'true'
      run: $(go env GOPATH)/bin/golangci-lint cache clean

    - name: Print linter version
      if: steps.changes.outputs.go_files == 'true'
      run: $(go env GOPATH)/bin/golangci-lint --version

    - name: Run golangci-lint
      if: steps.changes.outputs.go_files == 'true'
      run: $(go env GOPATH)/bin/golangci-lint run go/...
