name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    if: github.repository == 'vitessio/vitess'
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
