name: unit
on: pull_request
jobs:

  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        check-latest: true

    - name: Get dependencies
      run: |
        go mod download

    - name: unit
      run: |
        go test ./go/...
