name: Update Golang Version

permissions: read-all
on:
  schedule:
    - cron: "0 0 * * *" # Runs every day at midnight UTC
  workflow_dispatch:

jobs:
  update_golang_version:
    if: github.repository == 'vitessio/vitess'
    permissions:
      contents: write
      pull-requests: write
    strategy:
      matrix:
        branch: [ main, release-23.0, release-22.0 ]
    name: Update Golang Version
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ matrix.branch }}

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Detect new version and update codebase
        env:
          GH_TOKEN: ${{ github.token }}
          GOTOOLCHAIN: auto
        id: detect-and-update
        run: |
          old_go_version=$(go run ./go/tools/go-upgrade/go-upgrade.go get go-version)
          echo "old-go-version=${old_go_version}" >> $GITHUB_OUTPUT

          if [[ "${{ matrix.branch }}" == "main" ]]; then
            go run ./go/tools/go-upgrade/go-upgrade.go upgrade --main --allow-major-upgrade
          else
            go run ./go/tools/go-upgrade/go-upgrade.go upgrade
          fi

          output=$(git status -s)
          if [ -z "${output}" ]; then
            exit 0
          fi
          
          go_version=$(go run ./go/tools/go-upgrade/go-upgrade.go get go-version)
          bootstrap_version=$(go run ./go/tools/go-upgrade/go-upgrade.go get bootstrap-version)
          echo "go-version=${go_version}" >> $GITHUB_OUTPUT
          echo "bootstrap-version=${bootstrap_version}" >> $GITHUB_OUTPUT

          # Check if the PR already exists, if it does then do not create new PR.
          gh pr list -S 'is:open "[${{ matrix.branch }}] Upgrade the Golang version to go${go_version}"' > out.txt 2>&1 | true
          if [ -s out.txt ]; then
            rm -f out.txt
            exit 0
          fi
          rm -f out.txt
          echo "create-pr=true" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: steps.detect-and-update.outputs.create-pr == 'true'
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.CREATE_PR_VITESS_BOT }}
          branch: "upgrade-go-to-${{steps.detect-and-update.outputs.go-version}}-on-${{ matrix.branch }}"
          commit-message: "bump go version to go${{steps.detect-and-update.outputs.go-version}}"
          signoff: true
          delete-branch: true
          team-reviewers: Release
          title: "[${{ matrix.branch }}] Upgrade the Golang version to `go${{steps.detect-and-update.outputs.go-version}}`"
          body: |
            This Pull Request bumps the Golang version to `go${{steps.detect-and-update.outputs.go-version}}` and the bootstrap version to `${{steps.detect-and-update.outputs.bootstrap-version}}`.

            > Do not trust the bot blindly. A thorough code review must be done to ensure all the files have been correctly modified.

            There are manual steps remaining:
              - [ ] Build and Push the bootstrap images to Docker Hub, the bot cannot handle that
            
            cc @vitessio/release
          base: ${{ matrix.branch }}
          labels: |
            Skip CI
            go
            Benchmark me
            Component: General
            Type: CI/Build
