name: Update Golang Version

on:
  schedule:
    - cron: "0 0 * * *" # Runs every day at midnight UTC
  workflow_dispatch:

permissions: read-all

jobs:
  update_golang_version:
    if: github.repository == 'vitessio/vitess'
    permissions:
      contents: write
      pull-requests: write
    strategy:
      matrix:
        branch: [ main, release-21.0, release-20.0 ]
    name: Update Golang Version
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ matrix.branch }}

      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version-file: go.mod

      - name: Detect new version and update codebase
        env:
          GH_TOKEN: ${{ github.token }}
        id: detect-and-update
        run: |
          old_go_version=$(go run ./go/tools/go-upgrade/go-upgrade.go get go-version)
          echo "old-go-version=${old_go_version}" >> $GITHUB_OUTPUT

          if [ "${{ matrix.branch }}" == "main" ]; then
            go run ./go/tools/go-upgrade/go-upgrade.go upgrade --main --allow-major-upgrade
          elif [ "${{ matrix.branch }}" == "release-21.0" ]; then
            go run ./go/tools/go-upgrade/go-upgrade.go upgrade
          else
            go run ./go/tools/go-upgrade/go-upgrade.go upgrade --workflow-update=false
          fi

          output=$(git status -s)
          if [ -z "${output}" ]; then
            exit 0
          fi
          
          go_version=$(go run ./go/tools/go-upgrade/go-upgrade.go get go-version)
          bootstrap_version=$(go run ./go/tools/go-upgrade/go-upgrade.go get bootstrap-version)
          echo "go-version=${go_version}" >> $GITHUB_OUTPUT
          echo "bootstrap-version=${bootstrap_version}" >> $GITHUB_OUTPUT

          # Check if the PR already exists, if it does then do not create new PR.
          gh pr list -S "is:open [${{ matrix.branch }}] Upgrade the Golang version to go${go_version}" > out.txt 2>&1 | true
          if [ -s out.txt ]; then
            rm -f out.txt
            exit 0
          fi
          rm -f out.txt
          echo "create-pr=true" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: steps.detect-and-update.outputs.create-pr == 'true'
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.CREATE_PR_VITESS_BOT }}
          branch: "upgrade-go-to-${{steps.detect-and-update.outputs.go-version}}-on-${{ matrix.branch }}"
          commit-message: "bump go version to go${{steps.detect-and-update.outputs.go-version}}"
          signoff: true
          delete-branch: true
          team-reviewers: Release
          title: "[${{ matrix.branch }}] Upgrade the Golang version to `go${{steps.detect-and-update.outputs.go-version}}`"
          body: |
            This Pull Request bumps the Golang version to `go${{steps.detect-and-update.outputs.go-version}}` and the bootstrap version to `${{steps.detect-and-update.outputs.bootstrap-version}}`.

            > Do not trust the bot blindly. A thorough code review must be done to ensure all the files have been correctly modified.

            There are a few manual steps remaining:
              - [ ] Make sure you update the Golang version used in the previous and next release branches for the Upgrade/Downgrade tests.
              - [ ] Build and Push the bootstrap images to Docker Hub, the bot cannot handle that.
            
            cc @vitessio/release
          base: ${{ matrix.branch }}
          labels: |
            Skip CI
            go
            Benchmark me
            Component: General
            Type: CI/Build
