name: Semi Sync Upgrade Downgrade Testing
on:
  push:
    branches:
      - "main"
      - "release-[0-9]+.[0-9]"
    tags: '**'
  pull_request:
    branches: '**'

concurrency:
  group: format('{0}-{1}', ${{ github.ref }}, 'Semi Sync Upgrade Downgrade Testing')
  cancel-in-progress: true

permissions: read-all

jobs:
  upgrade_downgrade_test_e2e:
    timeout-minutes: 60
    name: Run Semi Sync Upgrade Downgrade Test
    runs-on: oracle-vm-16cpu-64gb-x86-64

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Skip CI
        run: |
          if [[ "${{contains( github.event.pull_request.labels.*.name, 'Skip CI')}}" == "true" ]]; then
            echo "skipping CI due to the 'Skip CI' label"
            exit 1
          fi

      - name: Check out commit's code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: 'false'

      - name: Check for changes in relevant files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          token: ''
          filters: |
            end_to_end:
              - 'test/config.json'
              - 'go/**'
              - 'go/**/*.go'
              - 'test.go'
              - 'Makefile'
              - 'build.env'
              - 'go.sum'
              - 'go.mod'
              - 'proto/*.proto'
              - 'tools/**'
              - 'config/**'
              - 'bootstrap.sh'
              - '.github/workflows/upgrade_downgrade_test_semi_sync.yml'

      - name: Set output with latest release branch
        id: output-previous-release-ref
        if: steps.changes.outputs.end_to_end == 'true'
        run: |
          previous_release_ref=$(./tools/get_previous_release.sh ${{github.base_ref}} ${{github.ref}})
          echo $previous_release_ref
          echo "previous_release_ref=${previous_release_ref}" >> $GITHUB_OUTPUT

      - name: Tune the OS
        if: steps.changes.outputs.end_to_end == 'true'
        uses: ./.github/actions/tune-os

      - name: Set up python
        if: steps.changes.outputs.end_to_end == 'true'
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

      - name: Setup MySQL
        if: steps.changes.outputs.end_to_end == 'true'
        uses: ./.github/actions/setup-mysql
        with:
          flavor: mysql-8.4

      - name: Setup Percona Apt repository
        if: steps.changes.outputs.end_to_end == 'true'
        uses: ./.github/actions/setup-percona-repo

      - name: Get base dependencies
        timeout-minutes: 10
        if: steps.changes.outputs.end_to_end == 'true'
        run: |
          sudo DEBIAN_FRONTEND="noninteractive" apt-get update

          # Install everything else we need, and configure
          sudo apt-get install -y make unzip g++ etcd-client etcd-server curl git wget grep

          sudo service etcd stop
          
          sudo percona-release enable-only tools
          sudo apt-get update
          sudo apt-get install -y percona-xtrabackup-80

      # Checkout to the last release of Vitess
      - name: Check out other version's code (${{ steps.output-previous-release-ref.outputs.previous_release_ref }})
        if: steps.changes.outputs.end_to_end == 'true'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ steps.output-previous-release-ref.outputs.previous_release_ref }}
          persist-credentials: 'false'

      - name: Set up Go
        if: steps.changes.outputs.end_to_end == 'true'
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: false

      - name: Get dependencies for the last release
        if: steps.changes.outputs.end_to_end == 'true'
        run: |
          go mod download

      - name: Building last release's binaries
        if: steps.changes.outputs.end_to_end == 'true'
        timeout-minutes: 10
        run: |
          source build.env
          NOVTADMINBUILD=1 make build
          mkdir -p /tmp/vitess-build-other/
          cp -R bin /tmp/vitess-build-other/
          rm -Rf bin/*

      # Checkout to this build's commit
      - name: Check out commit's code
        if: steps.changes.outputs.end_to_end == 'true'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: 'false'

      - name: Set up Go
        if: steps.changes.outputs.end_to_end == 'true'
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: false

      - name: Get dependencies for this commit
        if: steps.changes.outputs.end_to_end == 'true'
        run: |
          go mod download

      - name: Building the binaries for this commit
        if: steps.changes.outputs.end_to_end == 'true'
        timeout-minutes: 10
        run: |
          source build.env
          NOVTADMINBUILD=1 make build
          mkdir -p /tmp/vitess-build-current/
          cp -R bin /tmp/vitess-build-current/

      # Copy last releases vttablet
      - name: Copy last release's VTTablet
        if: steps.changes.outputs.end_to_end == 'true'
        run: |
          source build.env
          
          cp /tmp/vitess-build-other/bin/vttablet $PWD/bin/vttabletold
          vttabletold --version

      - name: Run semi sync tests
        if: steps.changes.outputs.end_to_end == 'true'
        run: |
          rm -rf /tmp/vtdataroot
          mkdir -p /tmp/vtdataroot
          set -x
          source build.env
          go test -v -count=1 -run="" ./go/test/endtoend/reparent/semisync
